In [291]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 0 ns

In [292]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
# pd.options.display.max_columns
pd.set_option("display.max_colwidth",200)
pd.set_option("display.max_columns",20)
pd.set_option('float_format', '{:.3f}'.format)

time: 0 ns

In [293]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
# pd.options.display.max_columns
pd.set_option("display.max_colwidth",200)
pd.set_option("display.max_columns",20)
pd.set_option('float_format', '{:.3f}'.format)

# Load Usage data
with open('App_usage_trace.txt') as f:
    lines = f.readlines()#[:100000]
    df = []
    for line in lines:
        data = line.split()
        df.append(data)
usage = pd.DataFrame(df, columns=['uid','timestamp', 'loc', 'app_id','traffic'])
usage['traffic'] = usage['traffic'].astype('float64') / 1e6 # Convert traffic to MB
usage['timestamp'] = usage['timestamp'].apply(lambda x: datetime.strptime(x, "%Y%m%d%H%M%S")) # Convert to datetime object
usage['loc'] = usage['loc'].astype('int64')
usage["date"] = usage["timestamp"].dt.strftime("%m-%d")
usage.head()

  uid           timestamp   loc app_id  traffic   date
0   0 2016-04-20 08:13:19  8194    361    0.002  04-20
1   0 2016-04-20 08:13:20  8194    361    0.002  04-20
2   0 2016-04-20 08:13:22  8194    361    0.004  04-20
3   0 2016-04-20 08:13:30  8194    361    0.001  04-20
4   0 2016-04-20 08:13:31  8194    361    0.002  04-20

time: 1min 5s

# Identify users that have less than X records per day, see what is the impact of the removal

In [294]:
# group uid and date, purpose is to see the number of request that a user made for each day
user_usage_perday = usage.groupby(["uid", "date"]).size().reset_index()
# rename columns for easy slicing
user_usage_perday.columns = ["uid", "date", "count"]
# number of users that does not have X counts per day
# change this
required_count = 10

# slice dataset to only remain those rows that has less than 20 count
df_less10day = user_usage_perday[user_usage_perday["count"] < required_count]
# group dataset with uid to get the count of the occurance of the uid, so we can determine which users have just 1 day or more
uid_less10day = df_less10day.groupby(["uid"]).size().reset_index()
# rename columns for easy slicing
uid_less10day.columns = ["uid", "count"]
print("="*100)
print("Current condition: remove user that has less than {} records per day".format(required_count))
print("="*100)
print("There are {} users that does not meet the requirement". format(uid_less10day.shape[0]))
print("-"*100)
print("There are {} users that have less than {} records for exact 1 day".format((uid_less10day.shape[0]- uid_less10day[uid_less10day["count"] != 1].shape[0]), required_count))
print("-"*100)
print("There are {} users that have less than {} records for more than 1 day".format(uid_less10day[uid_less10day["count"] != 1].shape[0], required_count))
print("-"*100)
print("Under current condition, {} rows will be removed, {:.5%} of the entire dataset ".format(df_less10day["count"].sum(), df_less10day["count"].sum()/414171950))
print("="*100)

====================================================================================================
Current condition: remove user that has less than 10 records per day
====================================================================================================
There are 200 users that does not meet the requirement
----------------------------------------------------------------------------------------------------
There are 140 users that have less than 10 records for exact 1 day
----------------------------------------------------------------------------------------------------
There are 60 users that have less than 10 records for more than 1 day
----------------------------------------------------------------------------------------------------
Under current condition, 1263 rows will be removed, 0.00030% of the entire dataset
====================================================================================================
time: 1.08 s

# Implementation of the cleaning

In [5]:
required_count = 10
# slice dataset to only remain those rows that has less than 20 count
user_usage_perday = usage.groupby(["uid", "date"]).size().reset_index()
user_usage_perday.columns = ["uid", "date", "count"]

df_less10day = user_usage_perday[user_usage_perday["count"] < required_count]
records_remove = np.array(df_less10day)
usage_copy = usage.copy()
print("Before removal the dataset has {} rows".format(usage.shape[0]))
for i in range(len(records_remove)):
    uid = records_remove[i][0]
    date = records_remove[i][1]
    usage_copy = usage_copy.drop(usage_copy[(usage_copy["uid"] == uid) & (usage_copy["date"] == date)].index)
print("After removal the dataset has {} rows, {} rows has been removed".format(usage_copy.shape[0], (usage.shape[0] - usage_copy.shape[0])))

Before removal the dataset has 4171950 rows
After removal the dataset has 4170687 rows, 1263 rows has been removed
time: 5min 3s

In [295]:
# rename the cleaned dataset 
usage_cleaned = usage.copy()

time: 219 ms

# Adpot Oscillation

In [233]:
# Function to align the Origin and Destination (O/D)
def sort_movement_tuples(jump):
    return sorted(list(jump))

# Define a function that can output the frequency pair of a user's mobility pattern
def show_frequent_pair(uid=888, threshold=5, jump_occurence=10):
    # Nathan: replaced usage with usage_cleaned
    user_uid = usage_cleaned[usage_cleaned['uid'] == str(uid)]

    # Set the thresold of time gap allowed between movement
    delta_threshold = timedelta(seconds=threshold)

    # Create the columns of the next time and lcoation
    user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
    user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)

    # Keep only movements
    user_uid = user_uid[user_uid['loc'] != user_uid['next_loc']]

    # Get the time gaps between movements
    user_uid['time_delta'] = user_uid['next_timestamp'] - user_uid['timestamp']

    # Get teleports and count the teleports
    # Should be able to identify the return trips
    teleports = user_uid[user_uid['time_delta'] < delta_threshold]
    teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))
    # print(teleports['tele'].value_counts())

    # # Group and count the same jump
    tele_counts = teleports['tele'].value_counts().reset_index()
    tele_counts.columns = ['jump', 'count']

    # Align the O/D of the jump to identify the pairs
    tele_counts['jump'] = tele_counts['jump'].apply(lambda i: sort_movement_tuples(i))

    # Get the jumps that has a reasonable number of occurence
    tele_counts = tele_counts[tele_counts['count'] > jump_occurence]
    tele_counts['jump'] = tuple(tele_counts['jump'])

    # print the record for reference
    # Nathan: added reset_index()
    frequent_pairs = tele_counts.groupby(['jump']).sum().reset_index()

    return frequent_pairs

time: 0 ns

## First way to solve oscillation:
## 1) get frequent pairs with show_frequent_pair()
## 2) call the oscillation period using present_oscillation()
## 3) from the frequent pairs compare their overall count for that particular user 
## (This can be modify to any condition)
## 4) get the index of roles that requires changing loc
## 5) change loc

In [296]:
# Function to align the Origin and Destination (O/D)
def sort_movement_tuples(jump):
    return sorted(list(jump))

# show the period where the oscillation happens
def present_oscillation(uid=888, threshold=5, jump_occurence=10):
    # Nathan: replaced usage with usage_cleaned
    user_uid = usage_cleaned[usage_cleaned['uid'] == str(uid)]

    # Set the thresold of time gap allowed between movement
    delta_threshold = timedelta(seconds=threshold)

    # Create the columns of the next time and lcoation
    user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
    user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)

    # Keep only movements
    user_uid = user_uid[user_uid['loc'] != user_uid['next_loc']]

    # Get the time gaps between movements
    user_uid['time_delta'] = user_uid['next_timestamp'] - user_uid['timestamp']

    # Get teleports and count the teleports
    # Should be able to identify the return trips
    teleports = user_uid[user_uid['time_delta'] < delta_threshold]
    teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))
    # print(teleports['tele'].value_counts())

    # # Group and count the same jump
    tele_counts = teleports['tele'].value_counts().reset_index()
    tele_counts.columns = ['jump', 'count']

    # Align the O/D of the jump to identify the pairs
    # we want to remove this as we want to return the rows that travel from a>b and b>a
    tele_counts['jump'] = tele_counts['jump'].apply(lambda i: sort_movement_tuples(i))

    # Get the jumps that has a reasonable number of occurence
    tele_counts = tele_counts[tele_counts['count'] > jump_occurence]
    tele_counts['jump'] = tuple(tele_counts['jump'])

    teleports['tele'] = teleports['tele'].apply(lambda j: sort_movement_tuples(j))
    teleports['tele'] = tuple(teleports['tele'])

    #return the rows that has tele_count in the "tele" column, so it returns the rows where the oscillation happens
    return teleports[teleports['tele'].isin(tele_counts["jump"])]
    # return teleports

time: 0 ns

In [249]:
# show the frequent pair
user0_freq_pair = np.array(show_frequent_pair(772,10,5))
user0_freq_pair

<ipython-input-233-20c6b7ee343d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
<ipython-input-233-20c6b7ee343d>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)
<ipython-input-233-20c6b7ee343d>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))

array([[(131, 4595), 7],
       [(131, 5029), 29],
       [(131, 5087), 17],
       ...,
       [(9630, 9800), 6],
       [(9631, 9723), 21],
       [(9631, 9800), 61]], dtype=object)

time: 6.38 s

In [253]:
user0_freq_pair.shape[0]

2453

time: 0 ns

In [250]:
# show the oscillation period
user0_oscillation_period = present_oscillation(772,10,5)
user0_oscillation_period

<ipython-input-245-f1d55fd8c473>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
<ipython-input-245-f1d55fd8c473>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)
<ipython-input-245-f1d55fd8c473>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))
<ipython-input-245-f1d55fd8c473>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = teleports['tele'].apply(lambda j: sort_movement_tuples(j))
<ipython-input-245-f1d55fd8c473>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = tuple(teleports['tele'])

,uid,timestamp,loc,app_id,traffic,date,next_loc,next_timestamp,time_delta,tele
1771575,772,2016-04-20 00:05:11,6392,68,0.006,04-20,8803,2016-04-20 00:05:17,00:00:06,"(6392, 8803)"
1771670,772,2016-04-20 07:12:00,9631,2,0.002,04-20,8951,2016-04-20 07:12:01,00:00:01,"(8951, 9631)"
1771671,772,2016-04-20 07:12:01,8951,1,0.015,04-20,9631,2016-04-20 07:12:01,00:00:00,"(8951, 9631)"
1771673,772,2016-04-20 07:12:23,8951,1,0.002,04-20,9631,2016-04-20 07:12:26,00:00:03,"(8951, 9631)"
1771676,772,2016-04-20 07:12:28,9631,2,0.003,04-20,8951,2016-04-20 07:12:34,00:00:06,"(8951, 9631)"
1771677,772,2016-04-20 07:12:34,8951,1,0.003,04-20,9631,2016-04-20 07:12:41,00:00:07,"(8951, 9631)"
1771682,772,2016-04-20 07:14:01,9631,2,0.000,04-20,8951,2016-04-20 07:14:03,00:00:02,"(8951, 9631)"
1771683,772,2016-04-20 07:14:03,8951,286,0.025,04-20,9631,2016-04-20 07:14:04,00:00:01,"(8951, 9631)"
1771684,772,2016-04-20 07:14:04,9631,2,0.000,04-20,8951,2016-04-20 07:14:08,00:00:04,"(8951, 9631)"
1771685,772,2016-04-20 07:14:08,8951,286,0.021,04-20,9631,2016-04-20 07:14:14,00:00:06,"(8951, 9631)"
1771687,772,2016-04-20 07:14:16,9631,2,0.002,04-20,8951,2016-04-20 07:14:20,00:00:04,"(8951, 9631)"
1771691,772,2016-04-20 07:14:48,8951,2,0.002,04-20,9631,2016-04-20 07:14:51,00:00:03,"(8951, 9631)"
1771698,772,2016-04-20 07:17:51,2419,5,0.003,04-20,9631,2016-04-20 07:17:54,00:00:03,"(2419, 9631)"
1771702,772,2016-04-20 07:18:09,2419,5,0.001,04-20,9631,2016-04-20 07:18:16,00:00:07,"(2419, 9631)"
1771713,772,2016-04-20 07:18:55,9631,2,0.001,04-20,2419,2016-04-20 07:19:04,00:00:09,"(2419, 9631)"
1771716,772,2016-04-20 07:19:13,2419,5,0.001,04-20,9631,2016-04-20 07:19:15,00:00:02,"(2419, 9631)"
1771739,772,2016-04-20 07:24:11,9800,2,0.000,04-20,9631,2016-04-20 07:24:13,00:00:02,"(9631, 9800)"
1771740,772,2016-04-20 07:24:13,9631,2,0.004,04-20,9800,2016-04-20 07:24:16,00:00:03,"(9631, 9800)"
1771741,772,2016-04-20 07:24:16,9800,2,0.000,04-20,9631,2016-04-20 07:24:21,00:00:05,"(9631, 9800)"
1771744,772,2016-04-20 07:24:35,2419,123,0.001,04-20,9800,2016-04-20 07:24:42,00:00:07,"(2419, 9800)"
1771745,772,2016-04-20 07:24:42,9800,2,0.001,04-20,2419,2016-04-20 07:24:46,00:00:04,"(2419, 9800)"
1771750,772,2016-04-20 07:24:53,2419,123,0.002,04-20,9800,2016-04-20 07:24:57,00:00:04,"(2419, 9800)"
1771757,772,2016-04-20 07:25:43,9800,2,0.001,04-20,2419,2016-04-20 07:25:45,00:00:02,"(2419, 9800)"
1771758,772,2016-04-20 07:25:45,2419,123,0.000,04-20,9800,2016-04-20 07:25:46,00:00:01,"(2419, 9800)"
1771759,772,2016-04-20 07:25:46,9800,2,0.001,04-20,2419,2016-04-20 07:25:52,00:00:06,"(2419, 9800)"
1771764,772,2016-04-20 07:26:01,2419,123,0.001,04-20,9800,2016-04-20 07:26:08,00:00:07,"(2419, 9800)"
1771766,772,2016-04-20 07:26:27,6392,5,0.036,04-20,9800,2016-04-20 07:26:36,00:00:09,"(6392, 9800)"
1771770,772,2016-04-20 07:26:55,9800,2,0.001,04-20,6392,2016-04-20 07:26:57,00:00:02,"(6392, 9800)"
1771771,772,2016-04-20 07:26:57,6392,80,0.012,04-20,9800,2016-04-20 07:27:00,00:00:03,"(6392, 9800)"
1771772,772,2016-04-20 07:27:00,9800,2,0.004,04-20,6392,2016-04-20 07:27:04,00:00:04,"(6392, 9800)"
...,...,...,...,...,...,...,...,...,...,...
1999711,772,2016-04-26 23:34:39,6392,843,0.016,04-26,8580,2016-04-26 23:34:39,00:00:00,"(6392, 8580)"
1999712,772,2016-04-26 23:34:39,8580,751,0.000,04-26,6392,2016-04-26 23:34:40,00:00:01,"(6392, 8580)"
1999715,772,2016-04-26 23:34:42,6392,55,0.017,04-26,8580,2016-04-26 23:34:43,00:00:01,"(6392, 8580)"
1999719,772,2016-04-26 23:34:48,8580,108,0.001,04-26,6392,2016-04-26 23:34:50,00:00:02,"(6392, 8580)"
1999721,772,2016-04-26 23:34:51,6392,5,0.028,04-26,8580,2016-04-26 23:34:51,00:00:00,"(6392, 8580)"
1999722,772,2016-04-26 23:34:51,8580,751,0.003,04-26,6392,2016-04-26 23:34:52,00:00:01,"(6392, 8580)"
1999727,772,2016-04-26 23:34:56,6392,5,0.025,04-26,8580,2016-04-26 23:34:57,00:00:01,"(6392, 8580)"
1999738,772,2016-04-26 23:36:01,8580,751,0.002,04-26,5701,2016-04-26 23:36:04,00:00:03,"(5701, 8580)"
1999739,772,2016-04-26 23:36:04,5701,1,0.020,04-26,8580,2016-04-26 23:36:06,00:00:02,"(5701, 8580)"
1999750,772,2016-04-26 23:37:09,8580,751,0.001,04-26,2853,2016-04-26 23:37:15,00:00:06,"(2853, 8580)"
1999752,772,2016-04-26 23:37:16,2853,30,0.025,04-26,8580,2016-04-26 23:37:18,00:00:02,"(2853, 8580)"
1999761,772,2016-04-26 23:37:58,8580,751,0.001,04-26,6121,2016-04-26 23:38:01,00:00:03,"(6121, 8580)"
1999762,772,2016-04-26 23:38:01,6121,78,0.027,04-26,8580,2016-04-26 23:38:03,00:00:02,"(6121, 8580)"
1999774,772,2016-04-26 23:38:50,8580,751,0.001,04-26,2853,2016-04-26 23:38:54,00:00:04,"(2853, 8580)"
1999779,772,2016-04-26 23:38:59,2853,30,0.025,04-26,8580,2016-04-26 23:39:00,00:00:01,"(2853, 8580)"
1999780,772,2016-04-26 23:39:00,8580,751,0.001,04-26,2853,2016-04-26 23:39:01,00:00:01,"(2853, 8580)"
1999782,772,2016-04-26 23:39:02,2853,30,0.001,04-26,8580,2016-04-26 23:39:06,00:00:04,"(2853, 8580)"
1999787,772,2016-04-26 23:39:25,8580,751,0.000,04-26,2853,2016-04-26 23:39:26,00:00:01,"(2853, 8580)"
1999791,772,2016-04-26 23:39:30,2853,30,0.027,04-26,8580,2016-04-26 23:39:31,00:00:01,"(2853, 8580)"
1999793,772,2016-04-26 23:39:38,8580,751,0.000,04-26,2853,2016-04-26 23:39:41,00:00:03,"(2853, 8580)"
1999794,772,2016-04-26 23:39:41,2853,30,0.023,04-26,8580,2016-04-26 23:39:45,00:00:04,"(2853, 8580)"
1999796,772,2016-04-26 23:39:49,8580,751,0.000,04-26,2853,2016-04-26 23:39:52,00:00:03,"(2853, 8580)"
1999797,772,2016-04-26 23:39:52,2853,30,0.024,04-26,8580,2016-04-26 23:39:55,00:00:03,"(2853, 8580)"
1999798,772,2016-04-26 23:39:55,8580,751,0.001,04-26,2853,2016-04-26 23:39:58,00:00:03,"(2853, 8580)"
1999802,772,2016-04-26 23:40:00,2853,78,0.024,04-26,8580,2016-04-26 23:40:00,00:00:00,"(2853, 8580)"
1999803,772,2016-04-26 23:40:00,8580,751,0.001,04-26,2853,2016-04-26 23:40:06,00:00:06,"(2853, 8580)"
1999804,772,2016-04-26 23:40:06,2853,5,0.025,04-26,8580,2016-04-26 23:40:06,00:00:00,"(2853, 8580)"
1999825,772,2016-04-26 23:41:39,8580,751,0.002,04-26,4366,2016-04-26 23:41:42,00:00:03,"(4366, 8580)"
1999826,772,2016-04-26 23:41:42,4366,128,0.026,04-26,8580,2016-04-26 23:41:46,00:00:04,"(4366, 8580)"
1999833,772,2016-04-26 23:42:48,8580,108,0.002,04-26,2853,2016-04-26 23:42:52,00:00:04,"(2853, 8580)"

time: 8.94 s

In [251]:
for i in range(len(user0_freq_pair)):
    loc1 = user0_freq_pair[i][0][0]
    loc2 = user0_freq_pair[i][0][1]

        # any condition
    if usage_cleaned[(usage_cleaned["uid"] == str(0)) & (usage_cleaned["loc"] == loc1)].shape[0] > usage_cleaned[(usage_cleaned["uid"] == str(0)) & (usage_cleaned["loc"] == loc2)].shape[0]:
        # current use print instead of actually replace the loc 
        
        print(user0_oscillation_period[(user0_oscillation_period["tele"] == user0_freq_pair[i][0]) &(user0_oscillation_period["loc"] == loc2)].index)
        print("these index in the original data should be changed to {}".format(loc1))
    else:
        print(user0_oscillation_period[(user0_oscillation_period["tele"] == user0_freq_pair[i][0]) &(user0_oscillation_period["loc"] == loc1)].index)
        print("these index in the original data should be changed to {}".format(loc2))

3,
            1930477, 1930481, 1930499, 1930515, 1930797, 1948449, 1995028],
           dtype='int64')
these index in the original data should be change to 8951
Int64Index([1930600, 1930621, 1930628, 1930634, 1930637, 1930643, 1930646,
            1930650, 1930654, 1930659, 1930663, 1930668, 1930675, 1930680,
            1930683, 1930686, 1930730, 1930734, 1930736, 1930748, 1930768],
           dtype='int64')
these index in the original data should be change to 8960
Int64Index([1791893, 1957469, 1957472, 1957483, 1957490, 1957493, 1957499,
            1957549, 1957559, 1957562, 1957586, 1957731, 1957904, 1957906,
            1957976, 1957994, 1957996, 1958000, 1958263, 1958266, 1958268,
            1958270, 1958273, 1958369, 1958809, 1958812, 1958814, 1958894,
            1958957, 1958989, 1959000],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1918701, 1918910, 1918913, 1918916, 1919207, 1919300], dtype='int64')
these index in the original data should be change to 8995
Int64Index([1779310, 1779334, 1779339, 1779341, 1779352, 1779358, 1779360,
            1779363, 1779366, 1779432, 1779554, 1779584, 1779644, 1779682,
            1779690, 1779693, 1779713, 1779959, 1779967, 1779985, 1780010,
            1809814, 1809846, 1809866],
           dtype='int64')
these index in the original data should be change to 9410
Int64Index([1779448, 1779456, 1779459, 1779464, 1779466, 1779511, 1779996,
            1780000, 1780006, 1780033, 1780048, 1780081, 1781177, 1781564],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1940209, 1940488, 1940490, 1940495, 1940516, 1940521], dtype='int64')
these index in the original data should be change to 9630
Int64Index([1803757, 1803759, 1803762, 1803803, 1803806, 1901946], dtype='int64')
these index in the original data should be change to 9800
Int64Index([1957182, 1957211, 1957214, 1957227, 1957238, 1957291, 1957293], dtype='int64')
these index in the original data should be change to 8803
Int64Index([1810725, 1810762, 1810765, 1810792, 1810796, 1810803, 1810806,
            1810811, 1810814, 1810819, 1810828, 1810835, 1810960, 1811049,
            1811051],
           dtype='int64')
these index in the original data should be change to 9341
Int64Index([1785852, 1785856, 1915248, 1920940, 1920982, 1920987, 1920998,
            1921002, 1921016, 1921019, 1921021, 1921023, 1921028, 1921030,
            1921032, 1921034, 1921062, 1921065, 1921089, 1921094, 1921097,
            1921110, 1921155, 1970639, 1970674, 1970681, 1970685, 1970688,
            1970691, 1970696, 1970700, 1970705, 1970708, 1970710, 1970728,
            1974498],
           dtype='int64')
these index in the original data should be change to 8950
Int64Index([1787151, 1789229, 1789234, 1789237, 1789239, 1789242, 1789245,
            1789250, 1789254, 1789257, 1789262, 1789267, 1789277, 1789281,
            1789285, 1789289, 1789292, 1789300, 1789309, 1789314, 1789317,
            1789321, 1789323, 1789325, 1789328, 1789336, 1789338, 1789341,
            1789343, 1789346, 1789358, 1789365, 1789367, 1789376, 1789378,
            1789380, 1789384, 1789386, 1789389, 1789392, 1789394, 1789396,
            1789400, 1789405, 1789408, 1789422, 1789447, 1959648, 1962579,
            1962734, 1963350, 1963545, 1963548, 1963560, 1995475, 1995667,
            1995719, 1995732, 1995770, 1995962, 1995971, 1995985, 1996139,
            1997640, 1997645],
           dtype='int64')
these index in the original data should be change to 8951
Int64Index([1787575, 1787596, 1787615, 1814228, 1814238, 1814242, 1814250,
            1814303, 1960993, 1960998, 1961002, 1963034],
           dtype='int64')
these index in the original data should be change to 8995
Int64Index([1915236, 1915239, 1915245, 1915251, 1915263, 1915267, 1915269,
            1915271, 1915287],
           dtype='int64')
these index in the original data should be change to 9378
Int64Index([1797487, 1920958, 1920970, 1920980, 1920985, 1921043, 1921151,
            1921153, 1981345, 1981347, 1981353, 1981355, 1981357, 1981360,
            1981394],
           dtype='int64')
these index in the original data should be change to 9630
Int64Index([1814221, 1814234, 1814240, 1814245, 1814280, 1814295, 1814319,
            1814323, 1814341, 1814468, 1957362, 1957567, 1980906, 1995872,
            1996006, 1996017, 1996025, 1996300, 1996340, 1996342, 1996345,
            1996348, 1996363, 1996391, 1996402, 1996407, 1996415, 1996427,
            1996451, 1996529, 1996624, 1996629, 1996639, 1996712, 1996717,
            1996722, 1996736, 1996772, 1997176, 1997186, 1997196, 1997198,
            1997200, 1997202, 1997206, 1997208, 1997210, 1997217, 1997219,
            1997221, 1997230, 1997234, 1997238, 1997302, 1997986],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1809109, 1809158, 1809162, 1809198, 1809200, 1809202, 1809212,
            1809214, 1809217, 1809230, 1809237, 1809295, 1809342, 1809345,
            1809350, 1809352, 1809354, 1809368, 1809371],
           dtype='int64')
these index in the original data should be change to 9410
Int64Index([1783496, 1783504, 1783506, 1783514, 1783516, 1783520, 1783522,
            1783524, 1783526, 1783529, 1849563, 1921262, 1921278, 1921287,
            1921299, 1924826, 1924830, 1924836, 1924847, 1924849, 1924851,
            1924853, 1924855, 1924858, 1924862, 1924866, 1924868, 1924870,
            1924874, 1924876, 1924878, 1924880, 1924883, 1924886, 1924888,
            1924890, 1924895, 1924902, 1924904, 1924907, 1924916, 1924918,
            1924921, 1964999, 1965005, 1965029],
           dtype='int64')
these index in the original data should be change to 8951
Int64Index([1970559, 1970566, 1970570, 1970574, 1970585, 1970711, 1970717,
            1970720, 1970722],
           dtype='int64')
these index in the original data should be change to 9125
Int64Index([1955095, 1955098, 1955125, 1955130, 1955132, 1955143, 1955147,
            1955177, 1955195, 1955211, 1955219, 1955223, 1955226, 1955255,
            1955258, 1955266, 1955275, 1955277, 1955288, 1955290, 1955293,
            1955296, 1955317, 1955322, 1955327, 1955355, 1955359, 1955362],
           dtype='int64')
these index in the original data should be change to 9305
Int64Index([1841595, 1846049, 1975256, 1975395, 1975867, 1975873, 1975905,
            1985673],
           dtype='int64')
these index in the original data should be change to 9410
Int64Index([1873702, 1920983, 1920989, 1920991, 1920993, 1920996, 1921003,
            1921007, 1921011, 1921014, 1921039, 1921041, 1921046, 1921050,
            1921080, 1921086, 1921091, 1921103, 1921112, 1921115, 1921132,
            1921138, 1921148, 1921167, 1921169, 1921173, 1921178, 1921182,
            1921190, 1921202, 1921207, 1921211, 1921219, 1921234, 1921265,
            1923730, 1940454, 1969886],
           dtype='int64')
these index in the original data should be change to 9630
Int64Index([1783494, 1783536, 1783564, 1855970, 1878160, 1878167, 1878169,
            1878171, 1878182, 1889198, 1889201, 1964954, 1964959, 1964962,
            1964966, 1964969, 1964975, 1964982, 1975212, 1975250, 1990593,
            1990617, 1990620, 1990624, 1990627, 1990656, 1990673, 1990689,
            1991361, 1991364, 1991366, 1991368, 1991370, 1991373, 1991375,
            1991378, 1991387, 1991395],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1890948, 1891001, 1891004, 1891020, 1891024, 1891051, 1891067], dtype='int64')
these index in the original data should be change to 9800
Int64Index([1772264, 1790892, 1818186, 1818191, 1818195, 1818198, 1818397,
            1818439, 1818458, 1818465,
            ...
            1960279, 1960287, 1960290, 1960294, 1960297, 1960299, 1960303,
            1960948, 1960979, 1991206],
           dtype='int64', length=101)
these index in the original data should be change to 8995
Int64Index([1901197, 1901242, 1901285, 1901400, 1901406, 1901423, 1901433,
            1901436, 1901445, 1901452, 1901454, 1901460, 1901462, 1901465,
            1901500, 1901502, 1901512, 1901525, 1901529, 1901532, 1901535,
            1901538, 1901545, 1901550, 1901583, 1901659, 1901663, 1901667,
            1901670, 1901673, 1901676, 1901691, 1901695, 1901701, 1901703,
            1901729, 1901914],
           dtype='int64')
these index in the original data should be change to 9259
Int64Index([1926505, 1926548, 1926676, 1926689, 1926694, 1926698, 1926710,
            1926712, 1926716, 1926719, 1926723, 1926725, 1926731, 1926738,
            1926741, 1926755, 1926761, 1926766, 1926768, 1926774, 1926780,
            1926783, 1926786, 1926789, 1926793, 1926796, 1926802, 1926808,
            1926813, 1926817, 1926826, 1926828, 1926832, 1926835, 1926838,
            1926858, 1926862, 1926866, 1926869, 1926872],
           dtype='int64')
these index in the original data should be change to 9351
Int64Index([1794795, 1795106, 1795464, 1797874, 1797876, 1797888, 1797895,
            1798904, 1798931, 1798934, 1798951, 1798956, 1798962, 1798969,
            1800711, 1800721, 1800725, 1800761, 1801084, 1804294, 1804298,
            1804303, 1804308, 1804344, 1809222, 1809232, 1817652],
           dtype='int64')
these index in the original data should be change to 9410
Int64Index([1795286, 1795308, 1795312, 1795320, 1795323, 1795325, 1795341,
            1795344, 1795356, 1795372, 1795386, 1795447, 1795451, 1795485,
            1849458],
           dtype='int64')
these index in the original data should be change to 9516
Int64Index([1921545, 1921551, 1921554, 1921557, 1921616, 1921619, 1921640,
            1921643, 1921648, 1921697, 1921703, 1921707],
           dtype='int64')
these index in the original data should be change to 9549
Int64Index([1797226, 1797235, 1819009, 1819046, 1819063, 1819066], dtype='int64')
these index in the original data should be change to 9561
Int64Index([1901542, 1901559, 1901562, 1901564, 1901569, 1901575, 1901580,
            1901585, 1901589, 1901593, 1901595, 1901605, 1901617, 1901620,
            1901634, 1901636, 1901680, 1901711, 1901714, 1901724, 1901727,
            1921296, 1921300, 1921315, 1921318, 1921329, 1921333, 1921356,
            1921365, 1923950, 1982993, 1982995, 1982998, 1983001, 1985101,
            1985134],
           dtype='int64')
these index in the original data should be change to 9630
Int64Index([1771671, 1771673, 1771677, 1771683, 1771685, 1771691, 1783402,
            1783408, 1783490, 1783500,
            ...
            1996041, 1996045, 1996049, 1996127, 1996130, 1996160, 1996176,
            1996229, 1997641, 1997648],
           dtype='int64', length=145)
these index in the original data should be change to 9631
Int64Index([1796528, 1796579, 1796589, 1796592, 1796594, 1796600, 1796603,
            1796605, 1796611, 1796615, 1796619, 1796621, 1796634, 1796636,
            1796641, 1796644, 1796662, 1796673, 1796680, 1796690, 1796693,
            1796696, 1796699, 1796703, 1796705, 1796713, 1796817, 1796824,
            1817885, 1817915, 1817918, 1817951, 1818034, 1818038, 1818314,
            1818475, 1818547, 1818636, 1818653, 1824407, 1859054, 1860535,
            1860537, 1860563, 1860567, 1860688, 1901954, 1901972, 1901998,
            1902004, 1902035, 1902058, 1902062],
           dtype='int64')
these index in the original data should be change to 9800
Int64Index([1919922, 1919925, 1919928, 1919936, 1919938, 1919941, 1919944,
            1919946],
           dtype='int64')
these index in the original data should be change to 8995
Int64Index([1814796, 1814802, 1814823, 1814825, 1814827, 1814829, 1814831,
            1814833, 1814836, 1814838, 1814840, 1814842, 1814875, 1814888,
            1814890, 1814897, 1888071, 1888099, 1888132, 1888135, 1888168,
            1888170, 1888187, 1888190, 1955946, 1955948, 1957733, 1957736,
            1957739, 1957742, 1957755, 1957758, 1957766, 1957777, 1957803,
            1957806, 1957808, 1957816, 1957818, 1957821, 1957825, 1957827,
            1957829, 1957861, 1957867, 1957869, 1957872, 1957877],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1781040, 1954038, 1954041, 1954060, 1954066, 1954077, 1954080,
            1954082, 1954104, 1954109, 1954122, 1954147, 1954153, 1954157,
            1954168, 1954171, 1954173, 1954177, 1954180, 1954186, 1954188,
            1954193, 1954200, 1954202, 1954206, 1954210, 1954212, 1954216,
            1954219, 1954221, 1954223, 1954285],
           dtype='int64')
these index in the original data should be change to 9261
Int64Index([1809871, 1809881, 1809896, 1810129, 1810221, 1810223, 1817811], dtype='int64')
these index in the original data should be change to 9410
Int64Index([1781046, 1781055, 1781078, 1781123, 1781944, 1782910, 1782924,
            1782947, 1783193, 1783204,
            ...
            1902178, 1902216, 1958290, 1992725, 1992876, 1993146, 1993154,
            1993306, 1993308, 1993311],
           dtype='int64', length=150)
these index in the original data should be change to 9631
Int64Index([1818459, 1818473, 1818478, 1818480, 1818482, 1818484, 1818486,
            1818505, 1818514, 1858737, 1858961, 1858968, 1890867, 1890878,
            1890880, 1890885, 1890888, 1891035],
           dtype='int64')
these index in the original data should be change to 9800
Int64Index([1853527, 1853529, 1853667, 1853672, 1853684, 1855159, 1855187,
            1855375],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1853867, 1854646, 1856259, 1856423, 1856469], dtype='int64')
these index in the original data should be change to 9060
Int64Index([1987902, 1987905, 1987908, 1987915, 1987958, 1987991, 1988076,
            1988088, 1988103, 1988115],
           dtype='int64')
these index in the original data should be change to 9292
Int64Index([1902081, 1902086, 1902194, 1902196, 1902198, 1902202, 1902205,
            1902207, 1902209, 1902219, 1902221, 1902224, 1902230, 1902241,
            1902252],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1989343, 1989346, 1989349, 1989356, 1989367, 1989371, 1989379,
            1989382, 1989386, 1989388, 1989392, 1989399, 1989402, 1989404,
            1989411, 1989413, 1989421],
           dtype='int64')
these index in the original data should be change to 9363
Int64Index([1901546, 1901551, 1901587, 1901671, 1901682, 1901687, 1901689,
            1901692, 1901704],
           dtype='int64')
these index in the original data should be change to 9630
Int64Index([1810578, 1810595, 1810597, 1810599, 1810623, 1810626, 1810631,
            1810634],
           dtype='int64')
these index in the original data should be change to 9516
Int64Index([1835061, 1835068, 1835107, 1835173, 1835194, 1835223, 1835230,
            1835235, 1835243],
           dtype='int64')
these index in the original data should be change to 9630
Int64Index([1773943, 1773957, 1774013, 1804382, 1804392, 1804436, 1804524,
            1804569, 1804619, 1804902, 1804931, 1804936, 1804955, 1804995,
            1839405, 1971371, 1971460, 1971590, 1971663, 1971667, 1971679],
           dtype='int64')
these index in the original data should be change to 9493
Int64Index([1810356, 1810360, 1810366, 1810370, 1810373, 1810379, 1810381,
            1810384, 1810387, 1810400, 1810404, 1810408, 1810443, 1810468,
            1810470, 1810475, 1810479, 1810482, 1810484, 1810488, 1810500,
            1810503, 1810512, 1810515, 1810525, 1810542, 1810550, 1810552,
            1810560, 1810565, 1810569, 1810571, 1810574],
           dtype='int64')
these index in the original data should be change to 9516
Int64Index([1778571, 1778573, 1798133, 1798136, 1808564, 1847233, 1847235,
            1973826, 1973841, 1973846, 1981017, 1981234, 1981241, 1981249,
            1981260, 1981309, 1981311, 1981317, 1981320, 1981325, 1981364,
            1981373, 1981592, 1981599, 1981601, 1981690, 1981697, 1981834,
            1982131, 1982145, 1982152, 1982156, 1982159, 1982174, 1982180,
            1982275, 1982278, 1982300, 1982302, 1982309, 1982319, 1982324,
            1982342, 1982347, 1982352, 1982355, 1982358, 1982361, 1982364,
            1982378, 1982397, 1982423, 1982425, 1982431, 1982434, 1982448,
            1982477, 1982484, 1982486, 1982489, 1982513, 1982867, 1982872,
            1982875, 1982901],
           dtype='int64')
these index in the original data should be change to 9630
Int64Index([1778616, 1778620, 1778626, 1778744, 1778746, 1778785, 1778804,
            1778807, 1778809, 1779361,
            ...
            1975271, 1975288, 1975294, 1975322, 1975330, 1975332, 1975335,
            1980885, 1980897, 1980901],
           dtype='int64', length=108)
these index in the original data should be change to 9631
Int64Index([1877847, 1877850, 1877855, 1877868, 1877928, 1877931, 1877944,
            1877970, 1877995, 1878014, 1878017, 1878021, 1878030, 1878038,
            1878059, 1878069, 1878085, 1878192, 1878207, 1878209, 1878218,
            1878253, 1878256, 1878259, 1878271, 1878279, 1878304, 1878334,
            1878339, 1878379, 1878382, 1878388, 1878394],
           dtype='int64')
these index in the original data should be change to 9631
Int64Index([1909345, 1909347, 1909349, 1909353, 1909355, 1909357, 1909360,
            1909362, 1909525, 1909564, 1909600],
           dtype='int64')
these index in the original data should be change to 9493
Int64Index([1848212, 1848218, 1848290, 1848331, 1848341, 1848346], dtype='int64')
these index in the original data should be change to 9597
Int64Index([1808314, 1808316, 1808334, 1808337, 1808340, 1808342, 1808358,
            1808382, 1808386, 1808389, 1808393, 1808397, 1808407, 1808409,
            1945613, 1984267, 1984270, 1984280, 1984291, 1984304, 1984306,
            1984310, 1984312, 1984316, 1984324, 1984342, 1984363, 1984373,
            1984401, 1984403, 1984491, 1984509, 1984511, 1984552, 1984636,
            1984682, 1984685, 1984700, 1984703, 1984707, 1984718, 1984723,
            1984823, 1984826, 1984837, 1984845, 1984854, 1984857, 1984863,
            1984867, 1984917, 1984944, 1984946, 1984950, 1984958, 1985764],
           dtype='int64')
these index in the original data should be change to 9630
Int64Index([1971556, 1971569, 1971573, 1971617, 1971659, 1971665, 1971669,
            1971680, 1971690, 1971694],
           dtype='int64')
these index in the original data should be change to 9800
Int64Index([1781668, 1781776, 1781975, 1781982, 1782001, 1782015], dtype='int64')
these index in the original data should be change to 9631
Int64Index([1782049, 1782051, 1782061, 1782103, 1782105, 1782109, 1782130,
            1782133, 1782139, 1782168, 1782187],
           dtype='int64')
these index in the original data should be change to 9800
Int64Index([1899539, 1899542, 1899544, 1899548, 1899551, 1899562], dtype='int64')
these index in the original data should be change to 9631
Int64Index([1837342, 1901917, 1901923, 1901925, 1901927, 1901929], dtype='int64')
these index in the original data should be change to 9800
Int64Index([1980080, 1980084, 1980087, 1980091, 1980093, 1980101, 1980115,
            1980133, 1980266, 1980268, 1980297, 1980299],
           dtype='int64')
these index in the original data should be change to 9723
Int64Index([1771740, 1782016, 1782463, 1782465, 1813180, 1813183, 1813185,
            1813187, 1813192, 1814114, 1824378, 1824380, 1824382, 1824384,
            1858358, 1860433, 1860437, 1860440, 1860443, 1860447, 1860449,
            1878365, 1878369, 1878395, 1878398, 1879570, 1879586, 1879589,
            1879597, 1879599, 1888066, 1890455, 1890471, 1890485, 1890487,
            1902066],
           dtype='int64')
these index in the original data should be change to 9800
time: 25min 26s

## Index method 
## 1) get the start index and end index of the oscillation period
## 2) get the count of the stations
## 3) if different, replace a>b or b>a
## 3) if same, increase the counting period by decreasing the start index and increasing the end index until one loc outnumber the other
## 4) ?

In [297]:
user0_freq_pair = np.array(show_frequent_pair(0,10,4))
user0_freq_pair

<ipython-input-233-20c6b7ee343d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
<ipython-input-233-20c6b7ee343d>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)
<ipython-input-233-20c6b7ee343d>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))

array([[(1361, 2304), 14],
       [(2318, 8120), 10],
       [(7031, 7692), 5]], dtype=object)

time: 8.66 s

In [298]:
user0_oscillation_period = present_oscillation(0,10,4)
user0_oscillation_period

<ipython-input-296-f1d55fd8c473>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
<ipython-input-296-f1d55fd8c473>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)
<ipython-input-296-f1d55fd8c473>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))
<ipython-input-296-f1d55fd8c473>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = teleports['tele'].apply(lambda j: sort_movement_tuples(j))
<ipython-input-296-f1d55fd8c473>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = tuple(teleports['tele'])

,uid,timestamp,loc,app_id,traffic,date,next_loc,next_timestamp,time_delta,tele
1006,0,2016-04-22 08:45:22,2318,34,0.009,04-22,8120,2016-04-22 08:45:22,00:00:00,"(2318, 8120)"
1008,0,2016-04-22 08:45:22,8120,34,0.003,04-22,2318,2016-04-22 08:45:28,00:00:06,"(2318, 8120)"
1009,0,2016-04-22 08:45:28,2318,29,0.010,04-22,8120,2016-04-22 08:45:28,00:00:00,"(2318, 8120)"
1010,0,2016-04-22 08:45:28,8120,29,0.005,04-22,2318,2016-04-22 08:45:31,00:00:03,"(2318, 8120)"
1016,0,2016-04-22 08:45:45,2318,34,0.001,04-22,8120,2016-04-22 08:45:45,00:00:00,"(2318, 8120)"
1017,0,2016-04-22 08:45:45,8120,34,0.020,04-22,2318,2016-04-22 08:45:46,00:00:01,"(2318, 8120)"
1020,0,2016-04-22 08:45:47,2318,34,0.002,04-22,8120,2016-04-22 08:45:47,00:00:00,"(2318, 8120)"
1021,0,2016-04-22 08:45:47,8120,29,0.026,04-22,2318,2016-04-22 08:45:48,00:00:01,"(2318, 8120)"
1022,0,2016-04-22 08:45:48,2318,29,0.001,04-22,8120,2016-04-22 08:45:48,00:00:00,"(2318, 8120)"
1024,0,2016-04-22 08:45:49,8120,34,0.002,04-22,2318,2016-04-22 08:45:50,00:00:01,"(2318, 8120)"
1787,0,2016-04-22 14:26:31,1361,361,0.001,04-22,2304,2016-04-22 14:26:31,00:00:00,"(1361, 2304)"
1789,0,2016-04-22 14:26:41,2304,361,0.003,04-22,1361,2016-04-22 14:26:44,00:00:03,"(1361, 2304)"
1792,0,2016-04-22 14:26:45,1361,41,0.001,04-22,2304,2016-04-22 14:26:45,00:00:00,"(1361, 2304)"
1794,0,2016-04-22 14:26:46,2304,41,0.007,04-22,1361,2016-04-22 14:26:48,00:00:02,"(1361, 2304)"
1795,0,2016-04-22 14:26:48,1361,361,0.001,04-22,2304,2016-04-22 14:26:48,00:00:00,"(1361, 2304)"
1796,0,2016-04-22 14:26:48,2304,361,0.002,04-22,1361,2016-04-22 14:26:49,00:00:01,"(1361, 2304)"
1797,0,2016-04-22 14:26:49,1361,361,0.073,04-22,2304,2016-04-22 14:26:54,00:00:05,"(1361, 2304)"
1798,0,2016-04-22 14:26:54,2304,361,0.006,04-22,1361,2016-04-22 14:26:55,00:00:01,"(1361, 2304)"
1799,0,2016-04-22 14:26:55,1361,361,0.002,04-22,2304,2016-04-22 14:26:55,00:00:00,"(1361, 2304)"
1800,0,2016-04-22 14:26:55,2304,361,0.003,04-22,1361,2016-04-22 14:26:56,00:00:01,"(1361, 2304)"
1801,0,2016-04-22 14:26:56,1361,41,0.001,04-22,2304,2016-04-22 14:26:56,00:00:00,"(1361, 2304)"
1802,0,2016-04-22 14:26:56,2304,361,0.002,04-22,1361,2016-04-22 14:26:57,00:00:01,"(1361, 2304)"
1803,0,2016-04-22 14:26:57,1361,41,0.003,04-22,2304,2016-04-22 14:26:57,00:00:00,"(1361, 2304)"
1804,0,2016-04-22 14:26:57,2304,41,0.001,04-22,1361,2016-04-22 14:27:00,00:00:03,"(1361, 2304)"
3577,0,2016-04-26 09:36:12,7692,489,0.005,04-26,7031,2016-04-26 09:36:14,00:00:02,"(7031, 7692)"
3578,0,2016-04-26 09:36:14,7031,108,0.003,04-26,7692,2016-04-26 09:36:15,00:00:01,"(7031, 7692)"
3580,0,2016-04-26 09:36:16,7692,361,0.003,04-26,7031,2016-04-26 09:36:17,00:00:01,"(7031, 7692)"
3581,0,2016-04-26 09:36:17,7031,361,0.001,04-26,7692,2016-04-26 09:36:17,00:00:00,"(7031, 7692)"
3582,0,2016-04-26 09:36:17,7692,361,0.021,04-26,7031,2016-04-26 09:36:18,00:00:01,"(7031, 7692)"
3584,0,2016-04-26 09:36:18,7031,489,0.001,04-26,7692,2016-04-26 09:36:18,00:00:00,"(7031, 7692)"
3585,0,2016-04-26 09:36:18,7692,361,0.005,04-26,7031,2016-04-26 09:36:19,00:00:01,"(7031, 7692)"
3586,0,2016-04-26 09:36:19,7031,108,0.060,04-26,7692,2016-04-26 09:36:19,00:00:00,"(7031, 7692)"
3595,0,2016-04-26 09:36:24,7692,108,0.005,04-26,7031,2016-04-26 09:36:25,00:00:01,"(7031, 7692)"

time: 8.64 s

In [323]:
start_index = 1787
end_index = 1804
oscillation_period = usage_cleaned.loc[start_index:end_index, "loc"].copy()
count_loc1 = oscillation_period[oscillation_period == 1361].shape[0]
count_loc2 = oscillation_period[oscillation_period == 2304].shape[0]

while abs(count_loc1-count_loc2) < 5:

    start_index -=1
    end_index +=1

    oscillation_period = usage_cleaned.loc[start_index:end_index, "loc"].copy()
    count_loc1 = oscillation_period[oscillation_period == 1361].shape[0]
    count_loc2 = oscillation_period[oscillation_period == 2304].shape[0]

    print("start index: {}, end_index = {}, count_loc1:{}, count_loc2:{}".format(start_index, end_index, count_loc1, count_loc2))
    
print("finished")
# if count_loc1 > count_loc2:
#     oscillation_period[oscillation_period == 2304] = 1361
# else:
#     oscillation_period[oscillation_period == 1361] = 2304

# oscillation_period

start index: 1786, end_index = 1805, count_loc1:10, count_loc2:9
start index: 1785, end_index = 1806, count_loc1:11, count_loc2:9
start index: 1784, end_index = 1807, count_loc1:12, count_loc2:9
start index: 1783, end_index = 1808, count_loc1:13, count_loc2:9
start index: 1782, end_index = 1809, count_loc1:14, count_loc2:9
finished
time: 15 ms

In [321]:
for i in range(len(user0_freq_pair)):
    freq_pair = user0_freq_pair[i][0]
    loc1 = user0_freq_pair[i][0][0]
    loc2 = user0_freq_pair[i][0][1]
    

    start_index = user0_oscillation_period[user0_oscillation_period["tele"] == freq_pair].index[0]
    end_index = user0_oscillation_period[user0_oscillation_period["tele"] == freq_pair].index[-1]
    oscillation_period = usage_cleaned.loc[start_index:end_index, "loc"].copy()

    count_loc1 = oscillation_period[oscillation_period == loc1].shape[0]
    count_loc2 = oscillation_period[oscillation_period == loc2].shape[0]
    
    while abs(count_loc1-count_loc2) < 5:
        start_index -= 1
        end_index += 1
        oscillation_period = usage_cleaned.loc[start_index:end_index, "loc"].copy()
        count_loc1 = oscillation_period[oscillation_period == loc1].shape[0]
        count_loc2 = oscillation_period[oscillation_period == loc2].shape[0]

    if count_loc1 > count_loc2:
        oscillation_period[oscillation_period == loc2] = loc1
    else:
        oscillation_period[oscillation_period == loc1] = loc2
        
    print(oscillation_period)

1782    3042
1783    3042
1784    3042
1785    3042
1786    3042
1787    1361
1788    1361
1789    1361
1790    1361
1791    1361
1792    1361
1793    1361
1794    1361
1795    1361
1796    1361
1797    1361
1798    1361
1799    1361
1800    1361
1801    1361
1802    1361
1803    1361
1804    1361
1805    1361
1806    1361
1807    1361
1808    1361
1809    1361
Name: loc, dtype: int64
1006    2318
1007    2318
1008    2318
1009    2318
1010    2318
1011    2318
1012    2318
1013    2318
1014    2318
1015    2318
1016    2318
1017    2318
1018    2318
1019    2318
1020    2318
1021    2318
1022    2318
1023    2318
1024    2318
Name: loc, dtype: int64
3577    7692
3578    7692
3579    7692
3580    7692
3581    7692
3582    7692
3583    7692
3584    7692
3585    7692
3586    7692
3587    7692
3588    7692
3589    7692
3590    7692
3591    7692
3592    7692
3593    7692
3594    7692
3595    7692
Name: loc, dtype: int64
time: 16 ms

## Turns oout this is a much faster as loc is much easier to manipulate the dataset
## Example

In [325]:
#before replace value
usage_cleaned.loc[1787:1804, "loc"]

1787    1361
1788    2304
1789    2304
1790    1361
1791    1361
1792    1361
1793    2304
1794    2304
1795    1361
1796    2304
1797    1361
1798    2304
1799    1361
1800    2304
1801    1361
1802    2304
1803    1361
1804    2304
Name: loc, dtype: int64

time: 0 ns

In [327]:
indextochange = usage_cleaned.loc[1787:1804, "loc"]
indextochange[indextochange == 2304] = 1361

time: 0 ns

In [329]:
usage_cleaned.loc[1787:1804]

     uid           timestamp   loc app_id  traffic   date
1787   0 2016-04-22 14:26:31  1361    361    0.001  04-22
1788   0 2016-04-22 14:26:31  1361    361    0.003  04-22
1789   0 2016-04-22 14:26:41  1361    361    0.003  04-22
1790   0 2016-04-22 14:26:44  1361     41    0.012  04-22
1791   0 2016-04-22 14:26:45  1361    361    0.005  04-22
1792   0 2016-04-22 14:26:45  1361     41    0.001  04-22
1793   0 2016-04-22 14:26:45  1361     41    0.003  04-22
1794   0 2016-04-22 14:26:46  1361     41    0.007  04-22
1795   0 2016-04-22 14:26:48  1361    361    0.001  04-22
1796   0 2016-04-22 14:26:48  1361    361    0.002  04-22
1797   0 2016-04-22 14:26:49  1361    361    0.073  04-22
1798   0 2016-04-22 14:26:54  1361    361    0.006  04-22
1799   0 2016-04-22 14:26:55  1361    361    0.002  04-22
1800   0 2016-04-22 14:26:55  1361    361    0.003  04-22
1801   0 2016-04-22 14:26:56  1361     41    0.001  04-22
1802   0 2016-04-22 14:26:56  1361    361    0.002  04-22
1803   0 2016-04-22 14:26:57  1361     41    0.003  04-22
1804   0 2016-04-22 14:26:57  1361     41    0.001  04-22

time: 16 ms

# Ignore the following cells


# Replace the loc id with less count with the loc id with higher count in the frequent pair

In [74]:
# # Show the frequent pairs of user 13, gap less than 3 seconds, and occurence higher than 5 times (both directions count)
freq_pair = np.array(show_frequent_pair(0,10,5))
freq_pair

<ipython-input-72-08347122befa>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
<ipython-input-72-08347122befa>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)
<ipython-input-72-08347122befa>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))

array([[(2304, 1361), 7],
       [(1361, 2304), 7]], dtype=object)

time: 6.12 s

In [75]:
print(freq_pair[0][0])
print(freq_pair[1][0])

(2304, 1361)
(1361, 2304)
time: 0 ns

In [18]:
df_exp = usage_cleaned[(usage_cleaned["loc"] == freq_pair[0][0][0]) & (usage_cleaned["uid"] == str(0))]
df_exp

     uid           timestamp   loc app_id  traffic   date
1787   0 2016-04-22 14:26:31  1361    361    0.001  04-22
1790   0 2016-04-22 14:26:44  1361     41    0.012  04-22
1791   0 2016-04-22 14:26:45  1361    361    0.005  04-22
1792   0 2016-04-22 14:26:45  1361     41    0.001  04-22
1795   0 2016-04-22 14:26:48  1361    361    0.001  04-22
1797   0 2016-04-22 14:26:49  1361    361    0.073  04-22
1799   0 2016-04-22 14:26:55  1361    361    0.002  04-22
1801   0 2016-04-22 14:26:56  1361     41    0.001  04-22
1803   0 2016-04-22 14:26:57  1361     41    0.003  04-22
1805   0 2016-04-22 14:27:00  1361    361    0.003  04-22
1806   0 2016-04-22 14:27:01  1361    361    0.003  04-22
1807   0 2016-04-22 14:27:47  1361    361    0.002  04-22
1808   0 2016-04-22 14:27:48  1361    361    0.001  04-22
1809   0 2016-04-22 14:28:12  1361    361    0.003  04-22
1810   0 2016-04-22 14:28:13  1361    361    0.003  04-22
1811   0 2016-04-22 14:30:17  1361    361    0.001  04-22
1812   0 2016-04-22 14:30:18  1361    361    0.002  04-22

time: 281 ms

In [19]:
df_exp1 = usage_cleaned[(usage_cleaned["loc"] == freq_pair[0][0][1]) & (usage_cleaned["uid"] == str(0))]
df_exp1

     uid           timestamp   loc app_id  traffic   date
1788   0 2016-04-22 14:26:31  2304    361    0.003  04-22
1789   0 2016-04-22 14:26:41  2304    361    0.003  04-22
1793   0 2016-04-22 14:26:45  2304     41    0.003  04-22
1794   0 2016-04-22 14:26:46  2304     41    0.007  04-22
1796   0 2016-04-22 14:26:48  2304    361    0.002  04-22
1798   0 2016-04-22 14:26:54  2304    361    0.006  04-22
1800   0 2016-04-22 14:26:55  2304    361    0.003  04-22
1802   0 2016-04-22 14:26:56  2304    361    0.002  04-22
1804   0 2016-04-22 14:26:57  2304     41    0.001  04-22

time: 297 ms

In [146]:
df_exp = pd.concat([df_exp, df_exp1])
df_exp

     uid           timestamp   loc app_id  traffic   date
1787   0 2016-04-22 14:26:31  1361    361    0.001  04-22
1790   0 2016-04-22 14:26:44  1361     41    0.012  04-22
1791   0 2016-04-22 14:26:45  1361    361    0.005  04-22
1792   0 2016-04-22 14:26:45  1361     41    0.001  04-22
1795   0 2016-04-22 14:26:48  1361    361    0.001  04-22
1797   0 2016-04-22 14:26:49  1361    361    0.073  04-22
1799   0 2016-04-22 14:26:55  1361    361    0.002  04-22
1801   0 2016-04-22 14:26:56  1361     41    0.001  04-22
1803   0 2016-04-22 14:26:57  1361     41    0.003  04-22
1805   0 2016-04-22 14:27:00  1361    361    0.003  04-22
1806   0 2016-04-22 14:27:01  1361    361    0.003  04-22
1807   0 2016-04-22 14:27:47  1361    361    0.002  04-22
1808   0 2016-04-22 14:27:48  1361    361    0.001  04-22
1809   0 2016-04-22 14:28:12  1361    361    0.003  04-22
1810   0 2016-04-22 14:28:13  1361    361    0.003  04-22
1811   0 2016-04-22 14:30:17  1361    361    0.001  04-22
1812   0 2016-04-22 14:30:18  1361    361    0.002  04-22
1788   0 2016-04-22 14:26:31  2304    361    0.003  04-22
1789   0 2016-04-22 14:26:41  2304    361    0.003  04-22
1793   0 2016-04-22 14:26:45  2304     41    0.003  04-22
1794   0 2016-04-22 14:26:46  2304     41    0.007  04-22
1796   0 2016-04-22 14:26:48  2304    361    0.002  04-22
1798   0 2016-04-22 14:26:54  2304    361    0.006  04-22
1800   0 2016-04-22 14:26:55  2304    361    0.003  04-22
1802   0 2016-04-22 14:26:56  2304    361    0.002  04-22
1804   0 2016-04-22 14:26:57  2304     41    0.001  04-22

time: 16 ms

In [150]:
if (df_exp[(df_exp["loc"] == freq_pair[0][0][0]) & (df_exp["uid"] == str(0))].shape[0]) > (df_exp[(df_exp["loc"] == freq_pair[0][0][1]) & (df_exp["uid"] == str(0))].shape[0]):
    df_exp["loc"] = df_exp["loc"].replace(freq_pair[0][0][1], freq_pair[0][0][0])
df_exp

     uid           timestamp   loc app_id  traffic   date
1787   0 2016-04-22 14:26:31  1361    361    0.001  04-22
1790   0 2016-04-22 14:26:44  1361     41    0.012  04-22
1791   0 2016-04-22 14:26:45  1361    361    0.005  04-22
1792   0 2016-04-22 14:26:45  1361     41    0.001  04-22
1795   0 2016-04-22 14:26:48  1361    361    0.001  04-22
1797   0 2016-04-22 14:26:49  1361    361    0.073  04-22
1799   0 2016-04-22 14:26:55  1361    361    0.002  04-22
1801   0 2016-04-22 14:26:56  1361     41    0.001  04-22
1803   0 2016-04-22 14:26:57  1361     41    0.003  04-22
1805   0 2016-04-22 14:27:00  1361    361    0.003  04-22
1806   0 2016-04-22 14:27:01  1361    361    0.003  04-22
1807   0 2016-04-22 14:27:47  1361    361    0.002  04-22
1808   0 2016-04-22 14:27:48  1361    361    0.001  04-22
1809   0 2016-04-22 14:28:12  1361    361    0.003  04-22
1810   0 2016-04-22 14:28:13  1361    361    0.003  04-22
1811   0 2016-04-22 14:30:17  1361    361    0.001  04-22
1812   0 2016-04-22 14:30:18  1361    361    0.002  04-22
1788   0 2016-04-22 14:26:31  1361    361    0.003  04-22
1789   0 2016-04-22 14:26:41  1361    361    0.003  04-22
1793   0 2016-04-22 14:26:45  1361     41    0.003  04-22
1794   0 2016-04-22 14:26:46  1361     41    0.007  04-22
1796   0 2016-04-22 14:26:48  1361    361    0.002  04-22
1798   0 2016-04-22 14:26:54  1361    361    0.006  04-22
1800   0 2016-04-22 14:26:55  1361    361    0.003  04-22
1802   0 2016-04-22 14:26:56  1361    361    0.002  04-22
1804   0 2016-04-22 14:26:57  1361     41    0.001  04-22

time: 15 ms