In [8]:
%load_ext autotime

import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
from heapq import nlargest
import warnings
warnings.filterwarnings('ignore')

pd.set_option("display.max_colwidth",200)
pd.set_option("display.max_columns",20)
pd.set_option('float_format', '{:.3f}'.format)

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 0 ns

# Load the dataset

In [9]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
# pd.options.display.max_columns
pd.set_option("display.max_colwidth",200)
pd.set_option("display.max_columns",20)
pd.set_option('float_format', '{:.3f}'.format)

# Load Usage data
with open('C:\\Users\\natha\Desktop\\Capstone_local_save\\Orginal Dataset\\App_usage_trace.txt') as f:
    lines = f.readlines()#[:100000]
    df = []
    for line in lines:
        data = line.split()
        df.append(data)
usage = pd.DataFrame(df, columns=['uid','timestamp', 'loc', 'app_id','traffic'])
usage['traffic'] = usage['traffic'].astype('float64') / 1e6 # Convert traffic to MB
usage['timestamp'] = usage['timestamp'].apply(lambda x: datetime.strptime(x, "%Y%m%d%H%M%S")) # Convert to datetime object
usage['loc'] = usage['loc'].astype('int64')
usage["date"] = usage["timestamp"].dt.strftime("%m-%d")

time: 1min 6s

In [10]:
# group uid and date, purpose is to see the number of request that a user made for each day
user_usage_perday = usage.groupby(["uid", "date"]).size().reset_index()
# rename columns for easy slicing
user_usage_perday.columns = ["uid", "date", "count"]
# number of users that does not have X counts per day
# change this
required_count = 200

# slice dataset to only remain those rows that has less than 20 count
df_less10day = user_usage_perday[user_usage_perday["count"] < required_count]
# group dataset with uid to get the count of the occurance of the uid, so we can determine which users have just 1 day or more
uid_less10day = df_less10day.groupby(["uid"]).size().reset_index()
# rename columns for easy slicing
uid_less10day.columns = ["uid", "count"]
print("="*100)
print("Current condition: remove user that has less than {} records per day".format(required_count))
print("="*100)
# print("There are {} users that does not meet the requirement". format(uid_less10day.shape[0]))
print("-"*100)
print("There are {} users that have less than {} records for exact 1 day".format((uid_less10day.shape[0]- uid_less10day[uid_less10day["count"] != 1].shape[0]), required_count))
print("-"*100)
print("There are {} users that have less than {} records for more than 1 day".format(uid_less10day[uid_less10day["count"] != 1].shape[0], required_count))
print("-"*100)
print("Under current condition, {} rows will be removed, {:.5%} of the entire dataset ".format(df_less10day["count"].sum(), df_less10day["count"].sum()/4171950))
print("="*100)

====================================================================================================
Current condition: remove user that has less than 200 records per day
====================================================================================================
----------------------------------------------------------------------------------------------------
There are 124 users that have less than 200 records for exact 1 day
----------------------------------------------------------------------------------------------------
There are 589 users that have less than 200 records for more than 1 day
----------------------------------------------------------------------------------------------------
Under current condition, 201725 rows will be removed, 4.83527% of the entire dataset
====================================================================================================
time: 1.06 s

In [11]:
usage[(usage["uid"] == str(0)) & (usage["date"] == '04-20')]

   uid           timestamp   loc app_id  traffic   date
0    0 2016-04-20 08:13:19  8194    361    0.002  04-20
1    0 2016-04-20 08:13:20  8194    361    0.002  04-20
2    0 2016-04-20 08:13:22  8194    361    0.004  04-20
3    0 2016-04-20 08:13:30  8194    361    0.001  04-20
4    0 2016-04-20 08:13:31  8194    361    0.002  04-20
5    0 2016-04-20 08:16:44  8194    361    0.002  04-20
6    0 2016-04-20 08:16:49  8194     31    0.002  04-20
7    0 2016-04-20 08:16:49  8194    360    0.002  04-20
8    0 2016-04-20 08:16:49  8194    612    0.002  04-20
9    0 2016-04-20 08:16:50  8194     31    0.003  04-20
10   0 2016-04-20 08:17:25  8194     31    0.005  04-20
11   0 2016-04-20 08:17:26  8194     31    0.003  04-20
12   0 2016-04-20 08:17:27  8194     31    0.003  04-20
13   0 2016-04-20 08:17:28  8194    360    0.002  04-20
14   0 2016-04-20 08:17:33  8194    361    0.001  04-20
15   0 2016-04-20 08:17:34  8194    361    0.008  04-20
16   0 2016-04-20 08:24:12  8192      1    0.002  04-20
17   0 2016-04-20 08:29:20  1906     31    0.001  04-20
18   0 2016-04-20 08:29:21  1906     31    0.000  04-20
19   0 2016-04-20 08:29:22  1906    612    0.000  04-20
20   0 2016-04-20 08:29:26  1906    360    0.001  04-20
21   0 2016-04-20 08:29:52  1906     31    0.003  04-20
22   0 2016-04-20 08:29:52  1906      4    0.002  04-20
23   0 2016-04-20 08:31:52  1906     31    0.000  04-20
24   0 2016-04-20 08:47:14  1307      1    0.001  04-20
25   0 2016-04-20 08:54:06  1847      1    0.000  04-20
26   0 2016-04-20 08:57:47  1737      1    0.002  04-20
27   0 2016-04-20 09:03:24  6561      1    0.003  04-20
28   0 2016-04-20 09:15:05  6709    108    0.002  04-20
29   0 2016-04-20 09:15:07  6709    108    0.001  04-20
..  ..                 ...   ...    ...      ...    ...
57   0 2016-04-20 20:06:25  1633      1    0.004  04-20
58   0 2016-04-20 20:07:36  1633    361    0.003  04-20
59   0 2016-04-20 20:08:12  1633      1    0.002  04-20
60   0 2016-04-20 20:08:40  1633      1    0.009  04-20
61   0 2016-04-20 20:09:11  1633    361    0.004  04-20
62   0 2016-04-20 20:09:12  1633    361    0.006  04-20
63   0 2016-04-20 20:09:13  1633     41    0.008  04-20
64   0 2016-04-20 20:11:21  1633      1    0.002  04-20
65   0 2016-04-20 20:11:23  1633      1    0.003  04-20
66   0 2016-04-20 20:24:18  2323    334    0.010  04-20
67   0 2016-04-20 20:24:19  2323    334    0.126  04-20
68   0 2016-04-20 20:24:19  2323    504    0.014  04-20
69   0 2016-04-20 20:24:19  2323     80    0.127  04-20
70   0 2016-04-20 20:24:20  2323    504    0.021  04-20
71   0 2016-04-20 20:24:23  2323    334    0.006  04-20
72   0 2016-04-20 20:24:24  2323    334    0.003  04-20
73   0 2016-04-20 20:24:25  2323    334    0.022  04-20
74   0 2016-04-20 20:24:25  2323    504    0.112  04-20
75   0 2016-04-20 20:24:26  2323    334    0.002  04-20
76   0 2016-04-20 20:24:26  2323    504    0.106  04-20
77   0 2016-04-20 20:24:28  2323    504    0.060  04-20
78   0 2016-04-20 20:24:29  2323    504    0.001  04-20
79   0 2016-04-20 20:24:31  2323    334    0.020  04-20
80   0 2016-04-20 20:24:32  2323    334    0.001  04-20
81   0 2016-04-20 20:24:41  2323     46    0.001  04-20
82   0 2016-04-20 20:26:08  2323    287    0.002  04-20
83   0 2016-04-20 20:37:59  8194    361    0.004  04-20
84   0 2016-04-20 20:38:14  8194      1    0.001  04-20
85   0 2016-04-20 20:38:15  8194      1    0.002  04-20
86   0 2016-04-20 20:38:16  8194    361    0.004  04-20

[87 rows x 6 columns]

time: 469 ms

In [12]:
usage[(usage["uid"] == str(0)) & (usage["date"] == '04-21')]

    uid           timestamp   loc app_id  traffic   date
87    0 2016-04-21 08:42:21  8194    342    0.030  04-21
88    0 2016-04-21 08:44:12  8194      1    0.008  04-21
89    0 2016-04-21 08:44:47  8194    857    0.027  04-21
90    0 2016-04-21 08:44:48  8194    857    0.002  04-21
91    0 2016-04-21 08:44:49  8194     31    0.009  04-21
92    0 2016-04-21 08:44:49  8194      4    0.002  04-21
93    0 2016-04-21 08:44:49  8194    529    0.002  04-21
94    0 2016-04-21 08:44:49  8194    612    0.001  04-21
95    0 2016-04-21 08:44:49  8194    857    0.579  04-21
96    0 2016-04-21 08:44:50  8194     31    0.307  04-21
97    0 2016-04-21 08:44:50  8194    857    0.001  04-21
98    0 2016-04-21 08:44:51  8194    857    0.002  04-21
99    0 2016-04-21 08:44:52  8194    857    0.020  04-21
100   0 2016-04-21 08:44:55  8194    857    0.010  04-21
101   0 2016-04-21 08:44:56  8194    857    0.006  04-21
102   0 2016-04-21 08:44:59  8194     31    0.001  04-21
103   0 2016-04-21 08:45:02  8194     31    0.002  04-21
104   0 2016-04-21 08:45:04  8194    360    0.002  04-21
105   0 2016-04-21 08:48:22  8192     31    0.005  04-21
106   0 2016-04-21 08:48:23  8192     31    0.012  04-21
107   0 2016-04-21 08:48:23  8192      4    0.002  04-21
108   0 2016-04-21 08:48:23  8192    529    0.002  04-21
109   0 2016-04-21 08:48:23  8192    612    0.002  04-21
110   0 2016-04-21 08:48:24  8192     31    0.004  04-21
111   0 2016-04-21 08:48:24  8192    360    0.001  04-21
112   0 2016-04-21 08:52:13  8192      1    0.002  04-21
113   0 2016-04-21 08:56:19  7714     31    0.008  04-21
114   0 2016-04-21 08:56:19  8119     31    0.009  04-21
115   0 2016-04-21 08:56:19  8119      4    0.002  04-21
116   0 2016-04-21 08:56:19  8119    529    0.002  04-21
..   ..                 ...   ...    ...      ...    ...
767   0 2016-04-21 21:29:22  2373     80    0.004  04-21
768   0 2016-04-21 21:29:24  2373    189    0.009  04-21
769   0 2016-04-21 21:29:25  2373    189    0.006  04-21
770   0 2016-04-21 21:29:30  2373    189    0.001  04-21
771   0 2016-04-21 21:29:37  2373    189    0.001  04-21
772   0 2016-04-21 21:29:53  2373    189    0.103  04-21
773   0 2016-04-21 21:29:54  2373    189    0.148  04-21
774   0 2016-04-21 21:29:55  2373    189    0.136  04-21
775   0 2016-04-21 21:29:56  2373    189    0.000  04-21
776   0 2016-04-21 21:29:59  2373    189    0.002  04-21
777   0 2016-04-21 21:30:13  2373   1447    0.002  04-21
778   0 2016-04-21 21:35:12  1758      1    0.002  04-21
779   0 2016-04-21 21:35:13  1758      1    0.006  04-21
780   0 2016-04-21 21:35:14  1758      1    0.004  04-21
781   0 2016-04-21 21:35:15  1758      1    0.004  04-21
782   0 2016-04-21 21:35:16  1758      1    0.002  04-21
783   0 2016-04-21 21:35:20  1758      1    0.002  04-21
784   0 2016-04-21 21:35:25  1758      1    0.002  04-21
785   0 2016-04-21 21:35:26  1758      1    0.002  04-21
786   0 2016-04-21 21:35:30  1758      1    0.002  04-21
787   0 2016-04-21 21:35:31  1758      1    0.002  04-21
788   0 2016-04-21 21:35:32  1758      1    0.004  04-21
789   0 2016-04-21 21:35:33  1758      1    0.002  04-21
790   0 2016-04-21 21:35:34  1758      1    0.004  04-21
791   0 2016-04-21 21:35:35  1758      1    0.004  04-21
792   0 2016-04-21 21:35:36  1758      1    0.002  04-21
793   0 2016-04-21 21:35:37  1758      1    0.004  04-21
794   0 2016-04-21 21:35:38  1758      1    0.002  04-21
795   0 2016-04-21 21:35:39  1758      1    0.002  04-21
796   0 2016-04-21 21:35:58  1758      1    0.002  04-21

[710 rows x 6 columns]

time: 453 ms