# Load the data

In [2]:
%load_ext autotime

import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
from heapq import nlargest
import warnings
warnings.filterwarnings('ignore')

pd.set_option("display.max_colwidth",200)
pd.set_option("display.max_columns",20)
pd.set_option('float_format', '{:.3f}'.format)

In [1]:
# # load raw
# with open('App_usage_trace.txt') as f:
#     lines = f.readlines()#[:100000]
#     df = []
#     for line in lines:
#         data = line.split()
#         df.append(data)
# usage = pd.DataFrame(df, columns=['uid','timestamp', 'loc', 'app_id','traffic'])
# # output_users(usage)
# usage['traffic'] = usage['traffic'].astype('float64') / 1e6 # Convert traffic to MB
# usage['timestamp'] = usage['timestamp'].apply(lambda x: datetime.strptime(x, "%Y%m%d%H%M%S"))
# # Convert to datetime object
# usage['loc'] = usage['loc'].astype('int64')

In [3]:
# load cleaned
# with open('Cleaned_usage.txt') as f:
#     lines = f.readlines()#[:100000]
#     df = []
#     for line in lines:
#         line = line.replace('\n', '')
#         data = line.split(',')
#         df.append(data)
# usage = pd.DataFrame(df, columns=['uid','timestamp', 'loc', 'app_id','traffic'])
# # output_users(usage)
# # usage['traffic'] = usage['traffic'].astype('float64') / 1e6 # Convert traffic to MB
# usage['timestamp'] = usage['timestamp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')) 
# # usage['timestamp'] = usage['timestamp'].apply(lambda x: datetime.strptime(x, "%Y%m%d%H%M%S")) # Convert to datetime object
# # usage['timestamp'] = usage['timestamp'].datetime
# usage['loc'] = usage['loc'].astype('int64')
with open('usaged_data_cleaned.txt') as f:
    lines = f.readlines()#[:100000]
    df = []
    for line in lines:
        data = line.split(",")
        df.append(data)
usage = pd.DataFrame(df, columns=['index','uid','timestamp', 'loc', 'app_id','traffic'])
usage.drop(columns=['index'])
usage['timestamp'] = usage['timestamp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
usage["traffic"] = usage['traffic'].astype('float64')

time: 3min 2s

In [8]:
# def output_users(data):
#     # group data into users
#     grouped_users = data.groupby('uid')
#     for user, group in grouped_users:
#         # iterare each user and output to seperate file
#         group.to_csv('user_{}.txt'.format(user), header=False, index=False, sep=' ')

time: 41.5 ms

In [4]:
# show the period where the oscillation happens
def present_oscillation(uid=888, threshold=5, jump_occurence=10):
    # Nathan: replaced usage with usage_cleaned
    user_uid = usage[usage['uid'] == str(uid)]

    # Set the thresold of time gap allowed between movement
    delta_threshold = timedelta(seconds=threshold)

    # Create the columns of the next time and lcoation
    user_uid['next_loc'] = user_uid['loc'].shift(-1).fillna(0).astype('int')
    user_uid['next_timestamp'] = user_uid['timestamp'].shift(-1)

    # Keep only movements
    user_uid = user_uid[user_uid['loc'] != user_uid['next_loc']]

    # Get the time gaps between movements
    user_uid['time_delta'] = user_uid['next_timestamp'] - user_uid['timestamp']

    # Get teleports and count the teleports
    # Should be able to identify the return trips
    teleports = user_uid[user_uid['time_delta'] < delta_threshold]
    teleports['tele'] = list(zip(teleports['loc'], teleports['next_loc']))

    # # Group and count the same jump
    tele_counts = teleports['tele'].value_counts().reset_index()
    tele_counts.columns = ['jump', 'count']
    tele_counts = tele_counts[tele_counts['count'] > jump_occurence]

    # Get the jumps that has a reasonable number of occurence
    tele_counts = tele_counts[tele_counts['count'] > jump_occurence]
    # tele_counts['jump'] = tuple(tele_counts['jump'])

    #return the rows that has tele_count in the "tele" column, so it returns the rows where the oscillation happens
    return teleports[teleports['tele'].isin(tele_counts["jump"])]

time: 11.2 ms

In [21]:
def replace_bases(data, loc_list):
    print_count = 0
    for oscillation_period in loc_list:
        # get starting index
        start = oscillation_period[0]
        # get ending index of oscillation period
        end = oscillation_period[1]
        # slice dataset to get requests within oscilation period
        initial_osc = data[start:end+1]
        oscillation_slice = data.loc[start:end+1,'loc']
        # get the count of each base station. 
        #   rename axis and reset index to get row index as column
        base_counts = oscillation_slice.value_counts().rename_axis('loc').reset_index(name='counts')
        # get list of unique base stations in oscilation period
        base_stations = base_counts['loc'].tolist()
        # get inital count of each base station within the oscillation period
        base_station_counts = base_counts['counts'].tolist()
        # get the top 2 counts of base stations
        # top_2 = nlargest(2, base_station_counts)
        # get difference between the top 2 base stations
        cur_diff = 0
        # we only declare one base station as majority if it has a count greater than 5 to the next greatest
        i = 1
        while cur_diff < 5:
            # we take into account of the next surrounding requests outside of the oscillation period
            # this will continue to increase by 1 request at each side
            temp_oscillation_slice = data.loc[start - i :end + i,'loc']
            # get new count of base stations in oscillation period
            base_counts = temp_oscillation_slice.value_counts().rename_axis('loc').reset_index(name='counts')
            # output count as list
            base_station_counts = base_counts['counts'].tolist()
            # get the top 2 counts of base stations
            top_2 = nlargest(2, base_station_counts)
            if len(top_2) < 2:
                i += 1
                continue
            # get the difference
            cur_diff = top_2[0] - top_2[1]
            # icnrement search range
            i += 1
        
        # assign variable with the majority base station in oscillation period
        largest_station = base_stations[base_station_counts.index(max(base_station_counts))]

        # manipulate original dataframe to make changes perm 
        data.loc[start:end+1,'loc'] = largest_station
   
        if print_count % 500 == 0:
            print(oscillation_slice.value_counts())
            print()
            print(initial_osc)
            print()
            print(data[start:end+1])
        print_count += 1

time: 3.44 ms

In [6]:
def remove_oscillation(user_list, jump_occurances, request_threshold):
    print("Getting each users oscillation requests")
    oscillation_list = []
    for uid in user_list: 
        # get all oscillations from current user
        # set threshold as 10 seconds and atleast 5 oscillation pairs
        user_oscillations = present_oscillation(uid,jump_occurances,request_threshold)

        # Create the columns of the next time and lcoation between frequent pairs
        user_oscillations['next_timestamp'] = user_oscillations['timestamp'].shift(-1)
        user_oscillations['time_delta'] = user_oscillations['next_timestamp'] - user_oscillations['timestamp']

        # set delta threshold between oscillation periods
        delta_threshold = timedelta(seconds=300)
        # declare list to hold indicies of oscillation periods
        start = True
        for index, request in user_oscillations.iterrows():
            # set the first index
            if start:
                start_index = index
                start = False

            # if delta to next oscillation request is greater than threshold then indicate this is the last index of current period
            if request['time_delta'] > delta_threshold:
                # set end index for current period
                end_index = index
                # append tuple (starting index, ending index) of the oscillation period
                oscillation_list.append((start_index, end_index))
                # declare the next request will be the start of the next oscillation period
                start = True     
    # replace all osillations for current user to dataframe
    oscillation_list.sort(key=lambda x: x[0])
    return oscillation_list
    # print(oscillation_list[100:105])
    # print("Replacing base stations in oscillation")        
    # replace_bases(working_usage, oscillation_list)

time: 3.74 ms

In [19]:
user_list = usage['uid'].unique()

# copy orignal dataset
# this is for comparison purposes
jump_occurances = 5
request_threshold = 5
working_usage = usage.copy()
osc_list = remove_oscillation(user_list, jump_occurances, request_threshold)

KeyboardInterrupt:

In [22]:
replace_bases(working_usage,osc_list)

8194    16
Name: loc, dtype: int64

   index uid           timestamp   loc app_id  traffic
0      0   0 2016-04-20 08:13:19  8194    361    0.002
1      1   0 2016-04-20 08:13:20  8194    361    0.002
2      2   0 2016-04-20 08:13:22  8194    361    0.004
3      3   0 2016-04-20 08:13:30  8194    361    0.001
4      4   0 2016-04-20 08:13:31  8194    361    0.002
5      5   0 2016-04-20 08:16:44  8194    361    0.002
6      6   0 2016-04-20 08:16:49  8194     31    0.002
7      7   0 2016-04-20 08:16:49  8194    360    0.002
8      8   0 2016-04-20 08:16:49  8194    612    0.002
9      9   0 2016-04-20 08:16:50  8194     31    0.003
10    10   0 2016-04-20 08:17:25  8194     31    0.005
11    11   0 2016-04-20 08:17:26  8194     31    0.003
12    12   0 2016-04-20 08:17:27  8194     31    0.003
13    13   0 2016-04-20 08:17:28  8194    360    0.002
14    14   0 2016-04-20 08:17:33  8194    361    0.001

   index uid           timestamp   loc app_id  traffic
0      0   0 2016-04-20 08:13:19  8194    361    0.002
1      1   0 2016-04-20 08:13:20  8194    361    0.002
2      2   0 2016-04-20 08:13:22  8194    361    0.004
3      3   0 2016-04-20 08:13:30  8194    361    0.001
4      4   0 2016-04-20 08:13:31  8194    361    0.002
5      5   0 2016-04-20 08:16:44  8194    361    0.002
6      6   0 2016-04-20 08:16:49  8194     31    0.002
7      7   0 2016-04-20 08:16:49  8194    360    0.002
8      8   0 2016-04-20 08:16:49  8194    612    0.002
9      9   0 2016-04-20 08:16:50  8194     31    0.003
10    10   0 2016-04-20 08:17:25  8194     31    0.005
11    11   0 2016-04-20 08:17:26  8194     31    0.003
12    12   0 2016-04-20 08:17:27  8194     31    0.003
13    13   0 2016-04-20 08:17:28  8194    360    0.002
14    14   0 2016-04-20 08:17:33  8194    361    0.001
7079    30
Name: loc, dtype: int64

       index  uid           timestamp   loc app_id  traffic
15965  15965  106 2016-04-22 13:38:46  7079     55    0.002
15966  15966  106 2016-04-22 13:38:47  7079     55    0.002
15967  15967  106 2016-04-22 13:38:58  7079     51    0.005
15968  15968  106 2016-04-22 13:39:02  7079     64    0.001
15969  15969  106 2016-04-22 13:39:16  7079     55    0.377
15970  15970  106 2016-04-22 13:39:51  7079    223    0.001
15971  15971  106 2016-04-22 13:39:52  7079    223    0.000
15972  15972  106 2016-04-22 13:39:55  7079     55    0.002
15973  15973  106 2016-04-22 13:40:28  7079     68    0.000
15974  15974  106 2016-04-22 13:40:37  7079     55    0.000
15975  15975  106 2016-04-22 13:40:41  7079     55    0.000
15976  15976  106 2016-04-22 13:41:02  7079     55    0.000
15977  15977  106 2016-04-22 13:41:13  7079     55    0.000
15978  15978  106 2016-04-22 13:41:20  7079     55    0.000
15979  15979  106 2016-04-22 13:41:55  7079     55    0.000
15980  15980  106 2016-04-22 13:42:23  7079     55    0.000
15981  15981  106 2016-04-22 13:42:38  7079     55    0.000
15982  15982  106 2016-04-22 13:43:05  7079     55    0.015
15983  15983  106 2016-04-22 13:43:35  7079    223    0.000
15984  15984  106 2016-04-22 13:43:36  7079    223    0.000
15985  15985  106 2016-04-22 13:43:41  7079     55    0.002
15986  15986  106 2016-04-22 13:45:15  7079     55    0.006
15987  15987  106 2016-04-22 13:46:03  7079    640    0.001
15988  15988  106 2016-04-22 13:46:25  7079    640    0.043
15989  15989  106 2016-04-22 13:46:26  7079    640    0.004
15990  15990  106 2016-04-22 13:46:27  7079    640    0.000
15991  15991  106 2016-04-22 13:46:29  7079    316    0.128
15992  15992  106 2016-04-22 13:46:30  7079    316    0.103
15993  15993  106 2016-04-22 13:46:32  7079   1429    0.012

       index  uid           timestamp   loc app_id  traffic
15965  15965  106 2016-04-22 13:38:46  7079     55    0.002
15966  15966  106 2016-04-22 13:38:47  7079     55    0.002
15967  15967  106 2016-04-22 13:38:58  7079     51    0.005
15968  15968  106 2016-04-22 13:39:02  7079     64    0.001
15969  15969  106 2016-04-22 13:39:16  7079     55    0.377
15970  15970  106 2016-04-22 13:39:51  7079    223    0.001
15971  15971  106 2016-04-22 13:39:52  7079    223    0.000
15972  15972  106 2016-04-22 13:39:55  7079     55    0.002
15973  15973  106 2016-04-22 13:40:28  7079     68    0.000
15974  15974  106 2016-04-22 13:40:37  7079     55    0.000
15975  15975  106 2016-04-22 13:40:41  7079     55    0.000
15976  15976  106 2016-04-22 13:41:02  7079     55    0.000
15977  15977  106 2016-04-22 13:41:13  7079     55    0.000
15978  15978  106 2016-04-22 13:41:20  7079     55    0.000
15979  15979  106 2016-04-22 13:41:55  7079     55    0.000
15980  15980  106 2016-04-22 13:42:23  7079     55    0.000
15981  15981  106 2016-04-22 13:42:38  7079     55    0.000
15982  15982  106 2016-04-22 13:43:05  7079     55    0.015
15983  15983  106 2016-04-22 13:43:35  7079    223    0.000
15984  15984  106 2016-04-22 13:43:36  7079    223    0.000
15985  15985  106 2016-04-22 13:43:41  7079     55    0.002
15986  15986  106 2016-04-22 13:45:15  7079     55    0.006
15987  15987  106 2016-04-22 13:46:03  7079    640    0.001
15988  15988  106 2016-04-22 13:46:25  7079    640    0.043
15989  15989  106 2016-04-22 13:46:26  7079    640    0.004
15990  15990  106 2016-04-22 13:46:27  7079    640    0.000
15991  15991  106 2016-04-22 13:46:29  7079    316    0.128
15992  15992  106 2016-04-22 13:46:30  7079    316    0.103
15993  15993  106 2016-04-22 13:46:32  7079   1429    0.012

KeyboardInterrupt:

In [8]:
# print_count = 0
# for start, end in osc_list:
#     if print_count % 5000 == 0:
#         print(working_usage[start:end+1])
#     print_count += 1

   index uid           timestamp   loc app_id  traffic
0      0   0 2016-04-20 08:13:19  8194    361    0.002
1      1   0 2016-04-20 08:13:20  8194    361    0.002
2      2   0 2016-04-20 08:13:22  8194    361    0.004
3      3   0 2016-04-20 08:13:30  8194    361    0.001
4      4   0 2016-04-20 08:13:31  8194    361    0.002
5      5   0 2016-04-20 08:16:44  8194    361    0.002
6      6   0 2016-04-20 08:16:49  8194     31    0.002
7      7   0 2016-04-20 08:16:49  8194    360    0.002
8      8   0 2016-04-20 08:16:49  8194    612    0.002
9      9   0 2016-04-20 08:16:50  8194     31    0.003
10    10   0 2016-04-20 08:17:25  8194     31    0.005
11    11   0 2016-04-20 08:17:26  8194     31    0.003
12    12   0 2016-04-20 08:17:27  8194     31    0.003
13    13   0 2016-04-20 08:17:28  8194    360    0.002
14    14   0 2016-04-20 08:17:33  8194    361    0.001
         index  uid           timestamp   loc app_id  traffic
174239  174239  202 2016-04-24 16:31:46  4849    349    0.001
         index  uid           timestamp   loc app_id  traffic
343802  343802  278 2016-04-23 15:33:18  2803    938    0.000
343803  343803  278 2016-04-23 15:33:20  2803    938    0.002
343804  343804  278 2016-04-23 15:33:24  2803    938    0.001
343805  343805  278 2016-04-23 15:33:26  2803    938    0.000
343806  343806  278 2016-04-23 15:33:32  2803   1700    0.002
343807  343807  278 2016-04-23 15:33:33  2803   1700    0.009
343808  343808  278 2016-04-23 15:33:34  2803   1700    0.003
343809  343809  278 2016-04-23 15:33:40  2803    191    0.003
343810  343810  278 2016-04-23 15:33:57  2803    191    0.000
343811  343811  278 2016-04-23 15:33:58  2803    191    0.002
343812  343812  278 2016-04-23 15:34:12  2803    191    0.001
343813  343813  278 2016-04-23 15:34:22  2803     65    0.001
343814  343814  278 2016-04-23 15:34:23  2803     65    0.005
343815  343815  278 2016-04-23 15:36:29  2803     34    0.002
343816  343816  278 2016-04-23 15:36:30  2803     34    0.003
343817  343817  278 2016-04-23 15:36:32  2803    136    0.002
343818  343818  278 2016-04-23 15:36:34  2803    136    0.003
343819  343819  278 2016-04-23 15:36:35  2803    136    0.006
343820  343820  278 2016-04-23 15:36:35  2803    322    0.002
343821  343821  278 2016-04-23 15:36:36  2803    136    0.008
343822  343822  278 2016-04-23 15:36:36  2803    322    0.002
343823  343823  278 2016-04-23 15:36:38  2803    136    0.009
343824  343824  278 2016-04-23 15:36:39  2803    136    0.002
343825  343825  278 2016-04-23 15:36:40  2803    136    0.010
343826  343826  278 2016-04-23 15:36:42  2803    322    0.001
343827  343827  278 2016-04-23 15:36:43  2803    136    0.002
343828  343828  278 2016-04-23 15:36:44  2803    136    0.004
343829  343829  278 2016-04-23 15:37:18  2803   1648    0.002
343830  343830  278 2016-04-23 15:38:19  2803    322    0.004
343831  343831  278 2016-04-23 15:38:20  2803    322    0.010
343832  343832  278 2016-04-23 15:38:21  2803    136    0.010
343833  343833  278 2016-04-23 15:38:21  2803    322    0.007
343834  343834  278 2016-04-23 15:38:22  2803    322    0.009
343835  343835  278 2016-04-23 15:38:25  2803    322    0.005
343836  343836  278 2016-04-23 15:38:26  2803    322    0.004
343837  343837  278 2016-04-23 15:38:27  2803    322    0.001
343838  343838  278 2016-04-23 15:38:39  2803    322    0.006
343839  343839  278 2016-04-23 15:38:40  2803    322    0.004
343840  343840  278 2016-04-23 15:38:41  2803    322    0.007
343841  343841  278 2016-04-23 15:38:42  2803    322    0.002
343842  343842  278 2016-04-23 15:38:43  2803   1648    0.001
343843  343843  278 2016-04-23 15:38:43  2803    322    0.004
         index  uid           timestamp  loc app_id  traffic
501061  501061  355 2016-04-22 10:57:10  965     93    0.004
501062  501062  355 2016-04-22 10:57:11  965      2    0.001
501063  501063  355 2016-04-22 10:57:11  965     93    0.001
501064  501064  355 2016-04-22 10:57:14  965   1363    0.001
501065  501065  355 2016-04-22 10:57:14  965     33    0.002
501066  501066  355 2016-04-22 10:57:14  965      9    0.001
501067  501067  355 2016-04-22 10:57:19  965     33    0.000
         index  uid           timestamp   loc app_id  traffic
635428  635428  419 2016-04-22 17:41:36  2504     24    0.012
635429  635429  419 2016-04-22 17:41:37  2504     24    0.006
635430  635430  419 2016-04-22 17:44:41  2504     24    0.013
635431  635431  419 2016-04-22 17:44:42  2504     24    0.010
635432  635432  419 2016-04-22 17:44:43  2504     24    0.005
635433  635433  419 2016-04-22 17:45:11  2504     24    0.001
635434  635434  419 2016-04-22 17:45:12  2504     24    0.003
635435  635435  419 2016-04-22 17:49:38  2504    102    0.002
635436  635436  419 2016-04-22 17:49:42  2504    102    0.001
635437  635437  419 2016-04-22 17:50:06  2504     24    0.001
635438  635438  419 2016-04-22 17:50:07  2504     24    0.004
635439  635439  419 2016-04-22 17:50:08  2504     24    0.003
635440  635440  419 2016-04-22 17:50:09  2504     24    0.003
635441  635441  419 2016-04-22 17:50:19  2504     64    0.001
635442  635442  419 2016-04-22 17:54:09   378    799    0.002
635443  635443  419 2016-04-22 17:54:10   378    107    0.001
635444  635444  419 2016-04-22 17:54:10   378     64    0.002
635445  635445  419 2016-04-22 17:54:11   378     24    0.003
         index  uid           timestamp   loc app_id  traffic
760294  760294  478 2016-04-20 20:42:59  1726    938    0.000
760295  760295  478 2016-04-20 20:43:01  1726   1700    0.002
760296  760296  478 2016-04-20 20:43:01  1726    938    0.002
760297  760297  478 2016-04-20 20:43:03  1726    938    0.002
760298  760298  478 2016-04-20 20:43:04  1726    938    0.003
760299  760299  478 2016-04-20 20:43:05  1726    938    0.003
760300  760300  478 2016-04-20 20:43:06  1726    938    0.002
760301  760301  478 2016-04-20 20:43:10  1726    938    0.001
760302  760302  478 2016-04-20 20:47:34  1726     33    0.001
         index  uid           timestamp   loc app_id  traffic
926603  926603  552 2016-04-23 14:25:13  5274      5    0.001
926604  926604  552 2016-04-23 14:25:15  5274      5    0.040
926605  926605  552 2016-04-23 14:25:22  5274      5    0.001
926606  926606  552 2016-04-23 14:25:23  5274      5    0.018
926607  926607  552 2016-04-23 14:25:24  5274      5    0.035
926608  926608  552 2016-04-23 14:25:25  5274      5    0.020
926609  926609  552 2016-04-23 14:25:26  5274      5    0.002
926610  926610  552 2016-04-23 14:25:27  5274      5    0.104
926611  926611  552 2016-04-23 14:25:28  5274      5    0.006
926612  926612  552 2016-04-23 14:25:29  5274      5    0.003
926613  926613  552 2016-04-23 14:25:30  5274      5    0.002
926614  926614  552 2016-04-23 14:25:31  5274      5    0.014
926615  926615  552 2016-04-23 14:25:32  5274      5    0.009
926616  926616  552 2016-04-23 14:25:33  5274      5    0.001
926617  926617  552 2016-04-23 14:25:37  5274      5    0.122
926618  926618  552 2016-04-23 14:25:43  5274      5    0.008
926619  926619  552 2016-04-23 14:26:12  5274      5    0.001
926620  926620  552 2016-04-23 14:27:45  5274      5    0.002
926621  926621  552 2016-04-23 14:27:47  5274      5    0.037
926622  926622  552 2016-04-23 14:27:50  5274      5    0.001
926623  926623  552 2016-04-23 14:28:13  5274      5    0.001
926624  926624  552 2016-04-23 14:28:27  5274      5    0.001
926625  926625  552 2016-04-23 14:28:28  5274      5    0.012
926626  926626  552 2016-04-23 14:28:29  5274      5    0.001
926627  926627  552 2016-04-23 14:28:36  5274      5    0.001
926628  926628  552 2016-04-23 14:28:37  5274      5    0.001
926629  926629  552 2016-04-23 14:28:38  5274      5    0.001
926630  926630  552 2016-04-23 14:28:39  5274      5    0.002
926631  926631  552 2016-04-23 14:28:40  5274      5    0.002
926632  926632  552 2016-04-23 14:28:41  5274      5    0.001
926633  926633  552 2016-04-23 14:30:32  5274      5    0.001
926634  926634  552 2016-04-23 14:32:11  5274      5    0.001
926635  926635  552 2016-04-23 14:32:12  5274      5    0.015
926636  926636  552 2016-04-23 14:32:13  5274      5    0.054
           index  uid           timestamp   loc app_id  traffic
1099449  1099449  620 2016-04-26 17:59:47  3298    423    0.001
1099450  1099450  620 2016-04-26 17:59:48  3298    423    0.000
1099451  1099451  620 2016-04-26 17:59:59  3298    423    0.001
           index  uid           timestamp   loc app_id  traffic
1330122  1330122  688 2016-04-23 13:39:39  4728      1    0.002
1330123  1330123  688 2016-04-23 13:39:40  4728      1    0.009
           index  uid           timestamp   loc app_id  traffic
1602775  1602775  748 2016-04-21 10:39:27  1899      8    0.102
1602776  1602776  748 2016-04-21 10:39:28  1899      8    0.139
1602777  1602777  748 2016-04-21 10:39:29  1899      8    0.027
1602778  1602778  748 2016-04-21 10:39:30  1899      8    0.009
1602779  1602779  748 2016-04-21 10:39:31  1899      8    0.016
1602780  1602780  748 2016-04-21 10:39:32  1899      8    0.006
1602781  1602781  748 2016-04-21 10:39:33  1899      8    0.007
1602782  1602782  748 2016-04-21 10:39:34  1899      8    0.002
1602783  1602783  748 2016-04-21 10:39:35  1899      8    0.012
1602784  1602784  748 2016-04-21 10:39:36  1899      8    0.015
1602785  1602785  748 2016-04-21 10:39:37  1899      8    0.014
1602786  1602786  748 2016-04-21 10:39:38  1899      8    0.011
1602787  1602787  748 2016-04-21 10:39:39  1899      8    0.005
1602788  1602788  748 2016-04-21 10:39:40  1899      8    0.007
1602789  1602789  748 2016-04-21 10:39:41  1899      8    0.011
1602790  1602790  748 2016-04-21 10:39:42  1899      8    0.005
1602791  1602791  748 2016-04-21 10:39:43  1899      8    0.006
1602792  1602792  748 2016-04-21 10:39:44  1899      8    0.007
1602793  1602793  748 2016-04-21 10:39:45  1899      8    0.007
1602794  1602794  748 2016-04-21 10:39:46  1899      8    0.007
1602795  1602795  748 2016-04-21 10:39:47  1899      8    0.005
1602796  1602796  748 2016-04-21 10:40:36  1899      8    0.007
1602797  1602797  748 2016-04-21 10:40:37  1899      8    0.007
1602798  1602798  748 2016-04-21 10:40:38  1899      8    0.001
1602799  1602799  748 2016-04-21 10:42:21  1899      8    0.003
1602800  1602800  748 2016-04-21 10:42:22  1899      8    0.005
1602801  1602801  748 2016-04-21 10:42:24  1899      8    0.002
1602802  1602802  748 2016-04-21 10:42:25  1899      8    0.001
1602803  1602803  748 2016-04-21 10:42:33  1899      1    0.002
1602804  1602804  748 2016-04-21 10:42:34  1899      1    0.009
1602805  1602805  748 2016-04-21 10:42:35  1899      1    0.015
1602806  1602806  748 2016-04-21 10:42:36  1899      1    0.009
1602807  1602807  748 2016-04-21 10:42:37  1899      1    0.008
1602808  1602808  748 2016-04-21 10:42:38  1899      1    0.009
1602809  1602809  748 2016-04-21 10:42:39  1899      1    0.011
1602810  1602810  748 2016-04-21 10:42:40  1899      1    0.002
1602811  1602811  748 2016-04-21 10:43:07  1899      1    0.002
1602812  1602812  748 2016-04-21 10:43:08  1899      1    0.002
1602813  1602813  748 2016-04-21 10:43:09  1899      1    0.002
1602814  1602814  748 2016-04-21 10:43:59  1899      1    0.002
1602815  1602815  748 2016-04-21 10:44:01  1899      1    0.002
1602816  1602816  748 2016-04-21 10:44:28  1634      1    0.002
1602817  1602817  748 2016-04-21 10:44:29  1634      1    0.002
1602818  1602818  748 2016-04-21 10:44:50  1634      1    0.002
1602819  1602819  748 2016-04-21 10:45:19  1634      1    0.002
1602820  1602820  748 2016-04-21 10:45:20  1634      1    0.002
1602821  1602821  748 2016-04-21 10:45:26  1634      1    0.002
1602822  1602822  748 2016-04-21 10:45:55  1634      1    0.013
1602823  1602823  748 2016-04-21 10:45:58  1634      1    0.009
1602824  1602824  748 2016-04-21 10:45:59  1634      1    0.020
1602825  1602825  748 2016-04-21 10:46:03  1634      1    0.002
1602826  1602826  748 2016-04-21 10:46:05  1634      1    0.002
           index  uid           timestamp   loc app_id  traffic
2144425  2144425  789 2016-04-21 10:32:38  9378    528    0.012
2144426  2144426  789 2016-04-21 10:32:39  9378     29    0.014
2144427  2144427  789 2016-04-21 10:32:39  9378     34    0.004
2144428  2144428  789 2016-04-21 10:32:39  9378    381    0.002
2144429  2144429  789 2016-04-21 10:32:39  9378    384    0.001
...          ...  ...                 ...   ...    ...      ...
2144552  2144552  789 2016-04-21 10:40:31  9378    254    0.014
2144553  2144553  789 2016-04-21 10:41:32  9378    254    0.002
2144554  2144554  789 2016-04-21 10:41:34  9378    254    0.004
2144555  2144555  789 2016-04-21 10:42:09  9378    254    0.008
2144556  2144556  789 2016-04-21 10:42:10  9378    254    0.002

[132 rows x 6 columns]
           index  uid           timestamp   loc app_id  traffic
2434332  2434332  835 2016-04-22 21:58:26  4471    250    0.001
2434333  2434333  835 2016-04-22 21:58:27  4471   1557    0.001
2434334  2434334  835 2016-04-22 21:58:27  4471    250    0.005
2434335  2434335  835 2016-04-22 21:58:28  4471    250    0.004
2434336  2434336  835 2016-04-22 21:58:39  4471    901    0.004
2434337  2434337  835 2016-04-22 21:58:43  4471    250    0.015
2434338  2434338  835 2016-04-22 21:58:44  4471    250    0.006
2434339  2434339  835 2016-04-22 21:58:45  4471    250    0.011
2434340  2434340  835 2016-04-22 21:58:46  4471    284    0.019
2434341  2434341  835 2016-04-22 21:59:29  4471   1180    0.003
           index  uid           timestamp   loc app_id  traffic
2737638  2737638  901 2016-04-23 18:37:39  3621      2    0.001
           index  uid           timestamp  loc app_id  traffic
3990638  3990638  966 2016-04-21 12:51:28  638      5    0.003
3990639  3990639  966 2016-04-21 12:51:29  638      5    0.007
3990640  3990640  966 2016-04-21 12:51:30  638      5    0.007
3990641  3990641  966 2016-04-21 12:51:31  638    228    0.008
3990642  3990642  966 2016-04-21 12:51:31  638      5    0.001
3990643  3990643  966 2016-04-21 12:51:32  638      5    0.009
3990644  3990644  966 2016-04-21 12:51:33  638    228    0.016
3990645  3990645  966 2016-04-21 12:51:33  638      5    0.029
3990646  3990646  966 2016-04-21 12:51:34  638      5    0.001
3990647  3990647  966 2016-04-21 12:51:35  638      5    0.296
3990648  3990648  966 2016-04-21 12:51:36  638      5    0.055
3990649  3990649  966 2016-04-21 12:51:37  638      5    0.001
3990650  3990650  966 2016-04-21 12:51:38  638      5    0.000
3990651  3990651  966 2016-04-21 12:51:39  638      5    0.007
3990652  3990652  966 2016-04-21 12:51:41  638      5    0.001
3990653  3990653  966 2016-04-21 12:51:43  638      5    0.721
3990654  3990654  966 2016-04-21 12:51:44  638      5    0.001
3990655  3990655  966 2016-04-21 12:51:45  638      5    0.002
3990656  3990656  966 2016-04-21 12:51:46  638      5    0.000
3990657  3990657  966 2016-04-21 12:51:47  638      5    0.002
3990658  3990658  966 2016-04-21 12:51:48  638      5    0.000
3990659  3990659  966 2016-04-21 12:51:49  638      5    0.001
3990660  3990660  966 2016-04-21 12:51:50  638      5    0.001
3990661  3990661  966 2016-04-21 12:51:51  638      5    0.000
3990662  3990662  966 2016-04-21 12:51:52  638      5    0.001
3990663  3990663  966 2016-04-21 12:51:53  638      5    0.001
3990664  3990664  966 2016-04-21 12:51:54  638      5    0.001
3990665  3990665  966 2016-04-21 12:51:55  638      5    0.001
3990666  3990666  966 2016-04-21 12:51:56  638      5    0.001
3990667  3990667  966 2016-04-21 12:51:57  638      5    0.002
3990668  3990668  966 2016-04-21 12:51:58  638      5    0.001
3990669  3990669  966 2016-04-21 12:51:59  638      5    0.001
3990670  3990670  966 2016-04-21 12:52:00  638      5    0.001
3990671  3990671  966 2016-04-21 12:52:01  638      5    0.001
3990672  3990672  966 2016-04-21 12:52:03  638      5    0.001
3990673  3990673  966 2016-04-21 12:52:04  638      5    0.002
3990674  3990674  966 2016-04-21 12:52:05  638      5    0.001
3990675  3990675  966 2016-04-21 12:52:06  638      5    0.001
3990676  3990676  966 2016-04-21 12:52:07  638      5    0.001
3990677  3990677  966 2016-04-21 12:52:09  638      5    0.001
3990678  3990678  966 2016-04-21 12:52:11  638      5    0.005
3990679  3990679  966 2016-04-21 12:52:12  638      5    0.001
3990680  3990680  966 2016-04-21 12:52:22  638      5    0.001
time: 244 ms

In [14]:
#  df_osc_list = pd.DataFrame(osc_list, columns=['start', 'end'])

time: 91.4 ms

In [15]:
# df_osc_list

         start      end
0            0       14
1           28       30
2           34       34
3           38       51
4           66       79
...        ...      ...
68660  4171693  4171697
68661  4171704  4171829
68662  4171838  4171839
68663  4171844  4171844
68664  4171849  4171912

[68665 rows x 2 columns]

time: 44.5 ms

In [15]:
# # get list of all unqiue users in dataset
# user_list = usage['uid'].unique()

# # copy orignal dataset
# # this is for comparison purposes
# jump_occurances = 2
# request_threshold = 5
# working_usage = usage.copy()
# remove_oscillation(user_list, jump_occurances, request_threshold)

In [9]:
usage.iloc[3852720:3853143]

         uid           timestamp   loc app_id   traffic
3852720  979 2016-04-21 15:03:34  8564   1606    0.0013
3852721  979 2016-04-21 15:03:36  2161    114  0.004419
3852722  979 2016-04-21 15:04:18  2161    114  0.001293
3852723  979 2016-04-21 15:04:21  8564      5  0.001729
3852724  979 2016-04-21 15:04:22  8564      5   0.05744
...      ...                 ...   ...    ...       ...
3853138  979 2016-04-21 15:28:07  2161      2  0.001602
3853139  979 2016-04-21 15:28:08  2161      2  0.004156
3853140  979 2016-04-21 15:28:09  2161      2  0.007849
3853141  979 2016-04-21 15:28:09  8564     76   0.02834
3853142  979 2016-04-21 15:28:10  2161      2  0.001162

[423 rows x 5 columns]

time: 81.9 ms

In [10]:
working_usage.loc[3852720:3853143]

         uid           timestamp   loc app_id   traffic
3852720  979 2016-04-21 15:03:34  8564   1606    0.0013
3852721  979 2016-04-21 15:03:36  8564    114  0.004419
3852722  979 2016-04-21 15:04:18  8564    114  0.001293
3852723  979 2016-04-21 15:04:21  8564      5  0.001729
3852724  979 2016-04-21 15:04:22  8564      5   0.05744
...      ...                 ...   ...    ...       ...
3853139  979 2016-04-21 15:28:08  8564      2  0.004156
3853140  979 2016-04-21 15:28:09  8564      2  0.007849
3853141  979 2016-04-21 15:28:09  8564     76   0.02834
3853142  979 2016-04-21 15:28:10  8564      2  0.001162
3853143  979 2016-04-21 15:28:10  8564     76  0.000878

[424 rows x 5 columns]

time: 21.2 ms

In [19]:
usage.loc[55664:55690]

      uid           timestamp   loc app_id   traffic
55664  13 2016-04-25 17:23:17   668      2   0.00188
55665  13 2016-04-25 17:23:18  1709      1  0.000493
55666  13 2016-04-25 17:23:19   668      2  0.000456
55667  13 2016-04-25 17:23:19   668    522  0.001839
55668  13 2016-04-25 17:23:20   668      2  0.001877
55669  13 2016-04-25 17:23:22  1709      1  0.002339
55670  13 2016-04-25 17:23:22   668    522  0.000861
55671  13 2016-04-25 17:23:23   668    522  0.002504
55672  13 2016-04-25 17:23:24   668   1434  0.001634
55673  13 2016-04-25 17:23:24   668      2  0.001374
55674  13 2016-04-25 17:23:25   668     77  0.000982
55675  13 2016-04-25 17:23:26   668      2   0.00139
55676  13 2016-04-25 17:23:27  1709      1  0.001081
55677  13 2016-04-25 17:23:27   668      2  0.057492
55678  13 2016-04-25 17:23:28   668      2  0.008171
55679  13 2016-04-25 17:23:29   668    286  0.001863
55680  13 2016-04-25 17:23:30   668     77  0.002066
55681  13 2016-04-25 17:23:31   668      2  0.000405
55682  13 2016-04-25 17:23:32  1709      1  0.002033
55683  13 2016-04-25 17:23:33  1709      1  0.000813
55684  13 2016-04-25 17:23:34  1709      1   0.00083
55685  13 2016-04-25 17:23:35  1709      1  0.000404
55686  13 2016-04-25 17:23:36  1709      1  0.003051
55687  13 2016-04-25 17:23:41   668      2  0.002127
55688  13 2016-04-25 17:23:46   668      2  0.002127
55689  13 2016-04-25 17:24:18   668      2  0.002127
55690  13 2016-04-25 17:24:49   668      2  0.002127

time: 19.8 ms

In [13]:
working_usage.loc[55664:55686]

      uid           timestamp  loc app_id   traffic
55664  13 2016-04-25 17:23:17  668      2   0.00188
55665  13 2016-04-25 17:23:18  668      1  0.000493
55666  13 2016-04-25 17:23:19  668      2  0.000456
55667  13 2016-04-25 17:23:19  668    522  0.001839
55668  13 2016-04-25 17:23:20  668      2  0.001877
55669  13 2016-04-25 17:23:22  668      1  0.002339
55670  13 2016-04-25 17:23:22  668    522  0.000861
55671  13 2016-04-25 17:23:23  668    522  0.002504
55672  13 2016-04-25 17:23:24  668   1434  0.001634
55673  13 2016-04-25 17:23:24  668      2  0.001374
55674  13 2016-04-25 17:23:25  668     77  0.000982
55675  13 2016-04-25 17:23:26  668      2   0.00139
55676  13 2016-04-25 17:23:27  668      1  0.001081
55677  13 2016-04-25 17:23:27  668      2  0.057492
55678  13 2016-04-25 17:23:28  668      2  0.008171
55679  13 2016-04-25 17:23:29  668    286  0.001863
55680  13 2016-04-25 17:23:30  668     77  0.002066
55681  13 2016-04-25 17:23:31  668      2  0.000405
55682  13 2016-04-25 17:23:32  668      1  0.002033
55683  13 2016-04-25 17:23:33  668      1  0.000813
55684  13 2016-04-25 17:23:34  668      1   0.00083
55685  13 2016-04-25 17:23:35  668      1  0.000404
55686  13 2016-04-25 17:23:36  668      1  0.003051

time: 29.2 ms

In [16]:
# df_osc_list.to_csv('index_5_jump_5_secs.txt', header=False, index=False, sep=',')

time: 179 ms

In [42]:
user_list = usage['uid'].unique()
base_list = usage['loc'].unique()
all_user = {}
for user in user_list:
    df = usage[usage['uid'] == user]
    loc = df['loc'].unique()
    all_user[user] = len(base_list) - len(loc)
    # if comp.all():
        # all_user.append(user)

time: 4min 51s

In [44]:
dict(sorted(all_user.items(), key=lambda item: item[1]))

{'942': 2015,
 '772': 5497,
 '837': 6261,
 '667': 6270,
 '836': 6371,
 '783': 6377,
 '615': 6401,
 '712': 6440,
 '13': 6457,
 '723': 6474,
 '211': 6532,
 '205': 6546,
 '627': 6551,
 '670': 6557,
 '832': 6557,
 '442': 6565,
 '817': 6586,
 '979': 6590,
 '209': 6593,
 '798': 6593,
 '999': 6598,
 '662': 6602,
 '982': 6602,
 '673': 6606,
 '764': 6606,
 '782': 6606,
 '571': 6622,
 '11': 6623,
 '371': 6623,
 '802': 6623,
 '952': 6624,
 '943': 6628,
 '983': 6628,
 '213': 6634,
 '815': 6634,
 '77': 6636,
 '343': 6638,
 '80': 6639,
 '755': 6641,
 '78': 6641,
 '352': 6642,
 '893': 6642,
 '47': 6643,
 '955': 6643,
 '998': 6643,
 '655': 6644,
 '271': 6645,
 '805': 6645,
 '435': 6646,
 '446': 6647,
 '842': 6647,
 '931': 6648,
 '790': 6649,
 '828': 6649,
 '975': 6650,
 '416': 6652,
 '441': 6652,
 '756': 6652,
 '22': 6654,
 '321': 6654,
 '691': 6654,
 '769': 6655,
 '830': 6655,
 '9': 6655,
 '925': 6655,
 '206': 6656,
 '41': 6656,
 '419': 6656,
 '731': 6656,
 '422': 6658,
 '429': 6658,
 '565': 6658,
 '750': 6658,
 '800': 6658,
 '807': 6658,
 '182': 6659,
 '207': 6659,
 '275': 6659,
 '68': 6659,
 '470': 6660,
 '34': 6661,
 '43': 6662,
 '496': 6662,
 '722': 6662,
 '747': 6662,
 '765': 6662,
 '912': 6662,
 '970': 6662,
 '24': 6664,
 '306': 6664,
 '362': 6664,
 '748': 6664,
 '994': 6664,
 '466': 6665,
 '838': 6665,
 '10': 6666,
 '164': 6666,
 '473': 6666,
 '506': 6666,
 '589': 6666,
 '749': 6666,
 '825': 6666,
 '92': 6666,
 '676': 6668,
 '778': 6668,
 '995': 6668,
 '381': 6669,
 '397': 6669,
 '399': 6669,
 '471': 6669,
 '758': 6669,
 '79': 6669,
 '0': 6671,
 '745': 6671,
 '774': 6671,
 '819': 6671,
 '364': 6672,
 '690': 6672,
 '763': 6672,
 '70': 6673,
 '752': 6673,
 '99': 6673,
 '990': 6673,
 '336': 6674,
 '484': 6674,
 '841': 6674,
 '944': 6674,
 '144': 6675,
 '193': 6675,
 '383': 6675,
 '57': 6675,
 '6': 6675,
 '66': 6675,
 '729': 6675,
 '973': 6675,
 '997': 6675,
 '324': 6676,
 '511': 6676,
 '661': 6676,
 '734': 6676,
 '465': 6677,
 '573': 6677,
 '69': 6677,
 '754': 6677,
 '197': 6678,
 '229': 6678,
 '48': 6678,
 '85': 6678,
 '138': 6679,
 '396': 6679,
 '621': 6679,
 '74': 6679,
 '823': 6679,
 '834': 6679,
 '911': 6679,
 '991': 6679,
 '18': 6680,
 '223': 6680,
 '248': 6680,
 '284': 6680,
 '533': 6680,
 '620': 6680,
 '8': 6680,
 '804': 6680,
 '829': 6680,
 '368': 6681,
 '521': 6681,
 '53': 6681,
 '757': 6681,
 '835': 6681,
 '256': 6682,
 '341': 6682,
 '367': 6682,
 '380': 6682,
 '513': 6682,
 '958': 6682,
 '262': 6683,
 '514': 6683,
 '152': 6684,
 '403': 6684,
 '58': 6684,
 '785': 6684,
 '793': 6684,
 '17': 6685,
 '504': 6685,
 '523': 6685,
 '611': 6685,
 '7': 6685,
 '932': 6685,
 '434': 6686,
 '510': 6686,
 '695': 6686,
 '820': 6686,
 '142': 6687,
 '188': 6687,
 '293': 6687,
 '355': 6687,
 '474': 6687,
 '515': 6687,
 '527': 6687,
 '535': 6687,
 '546': 6687,
 '760': 6687,
 '779': 6687,
 '822': 6687,
 '824': 6687,
 '905': 6687,
 '2': 6688,
 '247': 6688,
 '489': 6688,
 '881': 6688,
 '989': 6688,
 '298': 6689,
 '42': 6689,
 '44': 6689,
 '777': 6689,
 '937': 6689,
 '965': 6689,
 '220': 6690,
 '301': 6690,
 '317': 6690,
 '437': 6690,
 '705': 6690,
 '88': 6690,
 '919': 6690,
 '948': 6690,
 '968': 6690,
 '135': 6691,
 '179': 6691,
 '26': 6691,
 '593': 6691,
 '682': 6691,
 '718': 6691,
 '728': 6691,
 '813': 6691,
 '814': 6691,
 '907': 6691,
 '941': 6691,
 '115': 6692,
 '235': 6692,
 '238': 6692,
 '469': 6692,
 '529': 6692,
 '684': 6692,
 '827': 6692,
 '917': 6692,
 '936': 6692,
 '161': 6693,
 '251': 6693,
 '276': 6693,
 '335': 6693,
 '365': 6693,
 '436': 6693,
 '548': 6693,
 '65': 6693,
 '736': 6693,
 '967': 6693,
 '203': 6694,
 '411': 6694,
 '448': 6694,
 '463': 6694,
 '520': 6694,
 '549': 6694,
 '562': 6694,
 '685': 6694,
 '71': 6694,
 '808': 6694,
 '996': 6694,
 '230': 6695,
 '32': 6695,
 '358': 6695,
 '481': 6695,
 '526': 6695,
 '625': 6695,
 '638': 6695,
 '707': 6695,
 '724': 6695,
 '733': 6695,
 '761': 6695,
 '803': 6695,
 '951': 6695,
 '953': 6695,
 '954': 6695,
 '960': 6695,
 '390': 6696,
 '410': 6696,
 '424': 6696,
 '584': 6696,
 '773': 6696,
 '864': 6696,
 '867': 6696,
 '904': 6696,
 '966': 6696,
 '219': 6697,
 '30': 6697,
 '312': 6697,
 '328': 6697,
 '393': 6697,
 '566': 6697,
 '949': 6697,
 '102': 6698,
 '124': 6698,
 '15': 6698,
 '224': 6698,
 '27': 6698,
 '302': 6698,
 '56': 6698,
 '605': 6698,
 '643': 6698,
 '846': 6698,
 '869': 6698,
 '877': 6698,
 '977': 6698,
 '453': 6699,
 '493': 6699,
 '652': 6699,
 '678': 6699,
 '703': 6699,
 '742': 6699,
 '971': 6699,
 '972': 6699,
 '109': 6700,
 '234': 6700,
 '264': 6700,
 '294': 6700,
 '461': 6700,
 '525': 6700,
 '617': 6700,
 '628': 6700,
 '741': 6700,
 '786': 6700,
 '845': 6700,
 '859': 6700,
 '894': 6700,
 '1': 6701,
 '221': 6701,
 '339': 6701,
 '415': 6701,
 '450': 6701,
 '600': 6701,
 '660': 6701,
 '72': 6701,
 '721': 6701,
 '847': 6701,
 '105': 6702,
 '25': 6702,
 '303': 6702,
 '345': 6702,
 '795': 6702,
 '843': 6702,
 '181': 6703,
 '232': 6703,
 '337': 6703,
 '36': 6703,
 '413': 6703,
 '116': 6704,
 '227': 6704,
 '361': 6704,
 '402': 6704,
 '456': 6704,
 '59': 6704,
 '624': 6704,
 '726': 6704,
 '796': 6704,
 '809': 6704,
 '812': 6704,
 '858': 6704,
 '872': 6704,
 '888': 6704,
 '946': 6704,
 '969': 6704,
 '976': 6704,
 '100': 6705,
 '133': 6705,
 '253': 6705,
 '281': 6705,
 '326': 6705,
 '412': 6705,
 '475': 6705,
 '500': 6705,
 '528': 6705,
 '585': 6705,
 '654': 6705,
 '671': 6705,
 '739': 6705,
 '797': 6705,
 '852': 6705,
 '945': 6705,
 '231': 6706,
 '29': 6706,
 '350': 6706,
 '38': 6706,
 '432': 6706,
 '452': 6706,
 '618': 6706,
 '62': 6706,
 '630': 6706,
 '67': 6706,
 '719': 6706,
 '727': 6706,
 '737': 6706,
 '886': 6706,
 '916': 6706,
 '924': 6706,
 '950': 6706,
 '245': 6707,
 '259': 6707,
 '391': 6707,
 '430': 6707,
 '458': 6707,
 '648': 6707,
 '792': 6707,
 '874': 6707,
 '130': 6708,
 '147': 6708,
 '158': 6708,
 '242': 6708,
 '334': 6708,
 '340': 6708,
 '379': 6708,
 '385': 6708,
 '404': 6708,
 '64': 6708,
 '768': 6708,
 '818': 6708,
 '826': 6708,
 '900': 6708,
 '260': 6709,
 '279': 6709,
 '405': 6709,
 '439': 6709,
 '46': 6709,
 '501': 6709,
 '547': 6709,
 '636': 6709,
 '658': 6709,
 '759': 6709,
 '865': 6709,
 '87': 6709,
 '902': 6709,
 '145': 6710,
 '173': 6710,
 '178': 6710,
 '347': 6710,
 '485': 6710,
 '512': 6710,
 '540': 6710,
 '552': 6710,
 '560': 6710,
 '604': 6710,
 '626': 6710,
 '686': 6710,
 '857': 6710,
 '863': 6710,
 '897': 6710,
 '166': 6711,
 '265': 6711,
 '266': 6711,
 '311': 6711,
 '332': 6711,
 '409': 6711,
 '420': 6711,
 '492': 6711,
 '5': 6711,
 '51': 6711,
 '543': 6711,
 '586': 6711,
 '63': 6711,
 '664': 6711,
 '732': 6711,
 '776': 6711,
 '853': 6711,
 '106': 6712,
 '113': 6712,
 '20': 6712,
 '239': 6712,
 '296': 6712,
 '39': 6712,
 '425': 6712,
 '457': 6712,
 '531': 6712,
 '583': 6712,
 '607': 6712,
 '632': 6712,
 '735': 6712,
 '738': 6712,
 '806': 6712,
 '876': 6712,
 '935': 6712,
 '94': 6712,
 '192': 6713,
 '388': 6713,
 '431': 6713,
 '609': 6713,
 '642': 6713,
 '704': 6713,
 '81': 6713,
 '915': 6713,
 '95': 6713,
 '141': 6714,
 '196': 6714,
 '4': 6714,
 '594': 6714,
 '639': 6714,
 '649': 6714,
 '788': 6714,
 '216': 6715,
 '267': 6715,
 '270': 6715,
 '325': 6715,
 '359': 6715,
 '377': 6715,
 '384': 6715,
 '708': 6715,
 '716': 6715,
 '780': 6715,
 '875': 6715,
 '882': 6715,
 '883': 6715,
 '91': 6715,
 '934': 6715,
 '14': 6716,
 '177': 6716,
 '190': 6716,
 '243': 6716,
 '288': 6716,
 '478': 6716,
 '482': 6716,
 '491': 6716,
 '517': 6716,
 '574': 6716,
 '592': 6716,
 '596': 6716,
 '637': 6716,
 '640': 6716,
 '641': 6716,
 '650': 6716,
 '740': 6716,
 '839': 6716,
 '172': 6717,
 '183': 6717,
 '307': 6717,
 '346': 6717,
 '35': 6717,
 '354': 6717,
 '554': 6717,
 '556': 6717,
 '564': 6717,
 '582': 6717,
 '601': 6717,
 '651': 6717,
 '665': 6717,
 '83': 6717,
 '964': 6717,
 '121': 6718,
 '187': 6718,
 '225': 6718,
 '3': 6718,
 '329': 6718,
 '33': 6718,
 '349': 6718,
 '375': 6718,
 '476': 6718,
 '49': 6718,
 '522': 6718,
 '553': 6718,
 '563': 6718,
 '606': 6718,
 '692': 6718,
 '895': 6718,
 '930': 6718,
 '155': 6719,
 '157': 6719,
 '171': 6719,
 '185': 6719,
 '189': 6719,
 '240': 6719,
 '304': 6719,
 '351': 6719,
 '449': 6719,
 '460': 6719,
 '464': 6719,
 '467': 6719,
 '508': 6719,
 '536': 6719,
 '701': 6719,
 '75': 6719,
 '879': 6719,
 '898': 6719,
 '913': 6719,
 '981': 6719,
 '120': 6720,
 '257': 6720,
 '285': 6720,
 '342': 6720,
 '382': 6720,
 '487': 6720,
 '497': 6720,
 '538': 6720,
 '629': 6720,
 '679': 6720,
 '696': 6720,
 '753': 6720,
 '811': 6720,
 '901': 6720,
 '933': 6720,
 '129': 6721,
 '150': 6721,
 '202': 6721,
 '353': 6721,
 '386': 6721,
 '398': 6721,
 '472': 6721,
 '518': 6721,
 '581': 6721,
 '688': 6721,
 '697': 6721,
 '766': 6721,
 '799': 6721,
 '810': 6721,
 '848': 6721,
 '910': 6721,
 '119': 6722,
 '323': 6722,
 '363': 6722,
 '394': 6722,
 '539': 6722,
 '656': 6722,
 '677': 6722,
 '962': 6722,
 '104': 6723,
 '143': 6723,
 '176': 6723,
 '198': 6723,
 '218': 6723,
 '277': 6723,
 '297': 6723,
 '300': 6723,
 '438': 6723,
 '454': 6723,
 '550': 6723,
 '575': 6723,
 '709': 6723,
 '887': 6723,
 '963': 6723,
 '101': 6724,
 '127': 6724,
 '154': 6724,
 '282': 6724,
 '287': 6724,
 '392': 6724,
 '433': 6724,
 '490': 6724,
 '55': 6724,
 '555': 6724,
 '572': 6724,
 '653': 6724,
 '699': 6724,
 '743': 6724,
 '789': 6724,
 '791': 6724,
 '840': 6724,
 '914': 6724,
 '927': 6724,
 '131': 6725,
 '194': 6725,
 '204': 6725,
 '244': 6725,
 '258': 6725,
 '272': 6725,
 '283': 6725,
 '366': 6725,
 '440': 6725,
 '530': 6725,
 '537': 6725,
 '599': 6725,
 '634': 6725,
 '694': 6725,
 '767': 6725,
 '787': 6725,
 '957': 6725,
 '987': 6725,
 '132': 6726,
 '217': 6726,
 '222': 6726,
 '268': 6726,
 '278': 6726,
 '37': 6726,
 '447': 6726,
 '507': 6726,
 '862': 6726,
 '98': 6726,
 '103': 6727,
 '486': 6727,
 '502': 6727,
 '519': 6727,
 '591': 6727,
 '602': 6727,
 '614': 6727,
 '631': 6727,
 '668': 6727,
 '850': 6727,
 '856': 6727,
 '111': 6728,
 '163': 6728,
 '180': 6728,
 '228': 6728,
 '250': 6728,
 '286': 6728,
 '322': 6728,
 '426': 6728,
 '558': 6728,
 '587': 6728,
 '633': 6728,
 '646': 6728,
 '687': 6728,
 '714': 6728,
 '746': 6728,
 '770': 6728,
 '84': 6728,
 '854': 6728,
 '978': 6728,
 '114': 6729,
 '165': 6729,
 '28': 6729,
 '494': 6729,
 '561': 6729,
 '579': 6729,
 '588': 6729,
 '644': 6729,
 '693': 6729,
 '698': 6729,
 '922': 6729,
 '12': 6730,
 '153': 6730,
 '159': 6730,
 '170': 6730,
 '237': 6730,
 '241': 6730,
 '320': 6730,
 '401': 6730,
 '421': 6730,
 '576': 6730,
 '590': 6730,
 '702': 6730,
 '713': 6730,
 '781': 6730,
 '861': 6730,
 '866': 6730,
 '870': 6730,
 '890': 6730,
 '892': 6730,
 '908': 6730,
 '974': 6730,
 '108': 6731,
 '110': 6731,
 '122': 6731,
 '168': 6731,
 '226': 6731,
 '333': 6731,
 '417': 6731,
 '444': 6731,
 '483': 6731,
 '54': 6731,
 '569': 6731,
 '577': 6731,
 '61': 6731,
 '622': 6731,
 '762': 6731,
 '868': 6731,
 '899': 6731,
 '909': 6731,
 '920': 6731,
 '96': 6731,
 '117': 6732,
 '125': 6732,
 '151': 6732,
 '254': 6732,
 '376': 6732,
 '408': 6732,
 '477': 6732,
 '612': 6732,
 '616': 6732,
 '700': 6732,
 '711': 6732,
 '76': 6732,
 '784': 6732,
 '82': 6732,
 '956': 6732,
 '993': 6732,
 '126': 6733,
 '140': 6733,
 '160': 6733,
 '175': 6733,
 '191': 6733,
 '201': 6733,
 '289': 6733,
 '290': 6733,
 '360': 6733,
 '406': 6733,
 '455': 6733,
 '557': 6733,
 '597': 6733,
 '608': 6733,
 '623': 6733,
 '647': 6733,
 '659': 6733,
 '715': 6733,
 '844': 6733,
 '873': 6733,
 '896': 6733,
 '167': 6734,
 '233': 6734,
 '269': 6734,
 '274': 6734,
 '291': 6734,
 '414': 6734,
 '710': 6734,
 '801': 6734,
 '860': 6734,
 '871': 6734,
 '926': 6734,
 '156': 6735,
 '370': 6735,
 '400': 6735,
 '480': 6735,
 '541': 6735,
 '610': 6735,
 '613': 6735,
 '669': 6735,
 '992': 6735,
 '112': 6736,
 '310': 6736,
 '344': 6736,
 '418': 6736,
 '524': 6736,
 '578': 6736,
 '645': 6736,
 '717': 6736,
 '889': 6736,
 '923': 6736,
 '137': 6737,
 '169': 6737,
 '174': 6737,
 '236': 6737,
 '295': 6737,
 '305': 6737,
 '315': 6737,
 '327': 6737,
 '373': 6737,
 '407': 6737,
 '468': 6737,
 '479': 6737,
 '516': 6737,
 '568': 6737,
 '580': 6737,
 '689': 6737,
 '884': 6737,
 '988': 6737,
 '123': 6738,
 '186': 6738,
 '208': 6738,
 '215': 6738,
 '252': 6738,
 '309': 6738,
 '330': 6738,
 '369': 6738,
 '372': 6738,
 '532': 6738,
 '595': 6738,
 '891': 6738}

time: 51.1 ms

In [48]:
len(base_list)

6739

time: 4.49 ms