In [1]:
%load_ext autotime

import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
from heapq import nlargest
import warnings
import numpy as np
warnings.filterwarnings('ignore')

pd.set_option("display.max_colwidth",200)
pd.set_option("display.max_columns",20)
pd.set_option('float_format', '{:.3f}'.format)

time: 609 ms

In [2]:
# path = "C://Users//natha//Desktop//Capstone_local_save//Orginal Dataset"
cleaned_df = pd.read_csv("C://Users//natha//OneDrive - The University of Sydney (Students)//CS48-CAPSTONE Project 2021 Sem1//dataset//Cleaned Dataset//rm_oscillated_cleaned_data.txt", delimiter=',', \
    names=['uid','datetime','loc','app_id','traffic'], \
    dtype={'uid': str, 'datetime': str, 'loc': str, 'app_id': str, 'trafific': float})

cleaned_df['datetime'] = cleaned_df['datetime'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')) # Convert to datetime object
cleaned_df['day'] = cleaned_df['datetime'].dt.strftime("%m-%d")

n_users = len(cleaned_df['uid'].unique())
print("Successfully loaded data")
print("-"*30)
print('Number of users', n_users)
print(cleaned_df.head())

Successfully loaded data
------------------------------
Number of users 697
  uid            datetime   loc app_id  traffic    day
0   0 2016-04-21 08:42:21  8194    342    0.030  04-21
1   0 2016-04-21 08:44:12  8194      1    0.008  04-21
2   0 2016-04-21 08:44:47  8194    857    0.027  04-21
3   0 2016-04-21 08:44:48  8194    857    0.002  04-21
4   0 2016-04-21 08:44:49  8194     31    0.009  04-21
time: 56.2 s

In [3]:
# Load App2Category data
with open('C:\\Users\\natha\\Desktop\\Capstone_local_save\\Orginal Dataset\\App2Category.txt') as f:

    lines = f.readlines()
    df = []
    for line in lines:
        data = line.split()
        df.append(data)
app2cat = pd.DataFrame(df, columns=['app_id','cat_id'])
app2cat.head()

  app_id cat_id
0      1      4
1      2      4
2      3      4
3      4     13
4      5      4

time: 16 ms

In [4]:
cleaned_df_cat = pd.merge(cleaned_df, app2cat, on="app_id")
cleaned_df_cat.head()

  uid            datetime   loc app_id  traffic    day cat_id
0   0 2016-04-21 08:42:21  8194    342    0.030  04-21      0
1   0 2016-04-21 11:06:36  7210    342    0.004  04-21      0
2   0 2016-04-21 11:06:39  7210    342    0.002  04-21      0
3   0 2016-04-21 18:44:24  7549    342    0.001  04-21      0
4   0 2016-04-21 18:44:28  7549    342    0.002  04-21      0

time: 1.06 s

# Testing on user 0

In [6]:
user_0_data = cleaned_df_cat[cleaned_df_cat["uid"] == str(0)]
user_0_data = user_0_data.sort_values(by = "datetime")
user_0_data

        uid            datetime   loc app_id  traffic    day cat_id
0         0 2016-04-21 08:42:21  8194    342    0.030  04-21      0
1636      0 2016-04-21 08:44:12  8194      1    0.008  04-21      4
345626    0 2016-04-21 08:44:47  8194    857    0.027  04-21      8
345627    0 2016-04-21 08:44:48  8194    857    0.002  04-21      8
472513    0 2016-04-21 08:44:49  8194    612    0.001  04-21      8
390870    0 2016-04-21 08:44:49  8194      4    0.002  04-21     13
347033    0 2016-04-21 08:44:49  8194     31    0.009  04-21      8
471142    0 2016-04-21 08:44:49  8194    529    0.002  04-21      8
345628    0 2016-04-21 08:44:49  8194    857    0.579  04-21      8
347034    0 2016-04-21 08:44:50  8194     31    0.307  04-21      8
345629    0 2016-04-21 08:44:50  8194    857    0.001  04-21      8
345630    0 2016-04-21 08:44:51  8194    857    0.002  04-21      8
345631    0 2016-04-21 08:44:52  8194    857    0.020  04-21      8
345632    0 2016-04-21 08:44:55  8194    857    0.010  04-21      8
345633    0 2016-04-21 08:44:56  8194    857    0.006  04-21      8
347035    0 2016-04-21 08:44:59  8194     31    0.001  04-21      8
347036    0 2016-04-21 08:45:02  8194     31    0.002  04-21      8
473754    0 2016-04-21 08:45:04  8194    360    0.002  04-21      8
347037    0 2016-04-21 08:48:22  8192     31    0.005  04-21      8
472514    0 2016-04-21 08:48:23  8192    612    0.002  04-21      8
347038    0 2016-04-21 08:48:23  8192     31    0.012  04-21      8
471143    0 2016-04-21 08:48:23  8192    529    0.002  04-21      8
390871    0 2016-04-21 08:48:23  8192      4    0.002  04-21     13
473755    0 2016-04-21 08:48:24  8192    360    0.001  04-21      8
347039    0 2016-04-21 08:48:24  8192     31    0.004  04-21      8
1637      0 2016-04-21 08:52:13  8192      1    0.002  04-21      4
471144    0 2016-04-21 08:56:19  8119    529    0.002  04-21      8
390872    0 2016-04-21 08:56:19  8119      4    0.002  04-21     13
472515    0 2016-04-21 08:56:19  8119    612    0.002  04-21      8
347040    0 2016-04-21 08:56:19  7714     31    0.008  04-21      8
...      ..                 ...   ...    ...      ...    ...    ...
945386    0 2016-04-26 15:28:02  8118     37    0.013  04-26      8
940926    0 2016-04-26 15:28:03  8118    259    0.001  04-26      8
347204    0 2016-04-26 15:28:03  8118     31    0.005  04-26      8
984195    0 2016-04-26 15:28:03  8118    199    0.002  04-26      0
945387    0 2016-04-26 15:28:03  8118     37    0.003  04-26      8
347205    0 2016-04-26 15:28:04  8118     31    0.001  04-26      8
945388    0 2016-04-26 15:28:04  8118     37    0.002  04-26      8
945389    0 2016-04-26 15:28:05  8118     37    0.003  04-26      8
945390    0 2016-04-26 15:28:07  8118     37    0.003  04-26      8
945391    0 2016-04-26 15:28:08  8118     37    0.005  04-26      8
945392    0 2016-04-26 15:28:09  8118     37    0.002  04-26      8
945393    0 2016-04-26 15:28:12  8118     37    0.002  04-26      8
995596    0 2016-04-26 15:28:18  8118    281    0.002  04-26      0
968238    0 2016-04-26 15:28:19  8118    184    0.003  04-26      8
945394    0 2016-04-26 15:28:19  8118     37    0.002  04-26      8
940927    0 2016-04-26 15:28:29  8118    259    0.005  04-26      8
390952    0 2016-04-26 15:28:38  8118      4    0.003  04-26     13
480442    0 2016-04-26 15:28:48  8118    361    0.001  04-26     15
945395    0 2016-04-26 15:29:09  8118     37    0.001  04-26      8
945396    0 2016-04-26 15:29:42  8118     37    0.001  04-26      8
480443    0 2016-04-26 15:29:48  8118    361    0.012  04-26     15
480444    0 2016-04-26 15:29:49  8118    361    0.003  04-26     15
945397    0 2016-04-26 15:29:59  8118     37    0.001  04-26      8
945398    0 2016-04-26 15:30:28  8194     37    0.001  04-26      8
945399    0 2016-04-26 15:30:49  8194     37    0.006  04-26      8
480445    0 2016-04-26 15:33:08  8194    361    0.011  04-26     15
480446    0 2016-04-26 15:33:09  8194    361    0.001  04-26     15
480447    0 2016-04-26 15:33:10  8194    361    0.010  04-26     15
480448    0 2016-04-26 15:33:11  8194    361    0.003  04-26     15
1021936   0 2016-04-26 15:34:17  8194   1549    0.001  04-26      0

[3911 rows x 7 columns]

time: 485 ms

In [7]:
user_0_data_first3days = user_0_data[(user_0_data['day'] == '04-21') |(user_0_data['day'] == '04-22')| (user_0_data['day'] == '04-25')]
user_0_data_first3days

       uid            datetime   loc app_id  traffic    day cat_id
0        0 2016-04-21 08:42:21  8194    342    0.030  04-21      0
1636     0 2016-04-21 08:44:12  8194      1    0.008  04-21      4
345626   0 2016-04-21 08:44:47  8194    857    0.027  04-21      8
345627   0 2016-04-21 08:44:48  8194    857    0.002  04-21      8
472513   0 2016-04-21 08:44:49  8194    612    0.001  04-21      8
390870   0 2016-04-21 08:44:49  8194      4    0.002  04-21     13
347033   0 2016-04-21 08:44:49  8194     31    0.009  04-21      8
471142   0 2016-04-21 08:44:49  8194    529    0.002  04-21      8
345628   0 2016-04-21 08:44:49  8194    857    0.579  04-21      8
347034   0 2016-04-21 08:44:50  8194     31    0.307  04-21      8
345629   0 2016-04-21 08:44:50  8194    857    0.001  04-21      8
345630   0 2016-04-21 08:44:51  8194    857    0.002  04-21      8
345631   0 2016-04-21 08:44:52  8194    857    0.020  04-21      8
345632   0 2016-04-21 08:44:55  8194    857    0.010  04-21      8
345633   0 2016-04-21 08:44:56  8194    857    0.006  04-21      8
347035   0 2016-04-21 08:44:59  8194     31    0.001  04-21      8
347036   0 2016-04-21 08:45:02  8194     31    0.002  04-21      8
473754   0 2016-04-21 08:45:04  8194    360    0.002  04-21      8
347037   0 2016-04-21 08:48:22  8192     31    0.005  04-21      8
472514   0 2016-04-21 08:48:23  8192    612    0.002  04-21      8
347038   0 2016-04-21 08:48:23  8192     31    0.012  04-21      8
471143   0 2016-04-21 08:48:23  8192    529    0.002  04-21      8
390871   0 2016-04-21 08:48:23  8192      4    0.002  04-21     13
473755   0 2016-04-21 08:48:24  8192    360    0.001  04-21      8
347039   0 2016-04-21 08:48:24  8192     31    0.004  04-21      8
1637     0 2016-04-21 08:52:13  8192      1    0.002  04-21      4
471144   0 2016-04-21 08:56:19  8119    529    0.002  04-21      8
390872   0 2016-04-21 08:56:19  8119      4    0.002  04-21     13
472515   0 2016-04-21 08:56:19  8119    612    0.002  04-21      8
347040   0 2016-04-21 08:56:19  7714     31    0.008  04-21      8
...     ..                 ...   ...    ...      ...    ...    ...
511095   0 2016-04-25 16:02:04  7210      5    0.001  04-25      4
743005   0 2016-04-25 17:33:14  7210     70    0.001  04-25      5
743006   0 2016-04-25 17:33:15  7210     70    0.002  04-25      5
480349   0 2016-04-25 18:29:16  7210    361    0.002  04-25     15
480350   0 2016-04-25 18:29:17  7210    361    0.015  04-25     15
2015     0 2016-04-25 18:29:25  7210      1    0.072  04-25      4
2016     0 2016-04-25 18:30:25  7210      1    0.002  04-25      4
480351   0 2016-04-25 18:33:24  7210    361    0.001  04-25     15
480352   0 2016-04-25 18:33:25  7210    361    0.000  04-25     15
2017     0 2016-04-25 18:35:29  7129      1    0.001  04-25      4
480353   0 2016-04-25 18:35:53  7129    361    0.005  04-25     15
480354   0 2016-04-25 18:39:41  6708    361    0.003  04-25     15
480355   0 2016-04-25 18:43:13  6708    361    0.002  04-25     15
480356   0 2016-04-25 18:43:14  6708    361    0.001  04-25     15
390944   0 2016-04-25 18:43:21  6708      4    0.007  04-25     13
480357   0 2016-04-25 18:43:31  6708    361    0.002  04-25     15
480358   0 2016-04-25 18:46:02  6708    361    0.005  04-25     15
480359   0 2016-04-25 18:46:03  6708    361    0.002  04-25     15
999313   0 2016-04-25 18:46:08  6708     41    0.014  04-25     13
2018     0 2016-04-25 18:47:28  6708      1    0.005  04-25      4
2019     0 2016-04-25 18:47:46  6708      1    0.000  04-25      4
2020     0 2016-04-25 19:11:17  2160      1    0.004  04-25      4
480360   0 2016-04-25 19:42:31  8118    361    0.001  04-25     15
390945   0 2016-04-25 19:42:31  8118      4    0.001  04-25     13
480361   0 2016-04-25 19:42:32  8118    361    0.005  04-25     15
480362   0 2016-04-25 19:42:41  8118    361    0.002  04-25     15
480363   0 2016-04-25 19:42:46  8118    361    0.002  04-25     15
480364   0 2016-04-25 19:42:53  8118    361    0.002  04-25     15
480365   0 2016-04-25 19:42:56  8118    361    0.006  04-25     15
480366   0 2016-04-25 19:42:57  8118    361    0.003  04-25     15

[2600 rows x 7 columns]

time: 15 ms

In [8]:
user_0_state_set = user_0_data_first3days.groupby(["loc", "cat_id"]).size().reset_index().reset_index()
user_0_state_set.columns = ['state_code','loc_id','cat_id','count']
user_0_state_set

     state_code loc_id cat_id  count
0             0   1361     13      4
1             1   1361     15     13
2             2   1611      0      2
3             3   1611     13      5
4             4   1611     15      1
5             5   1611      4      1
6             6   1736     15      8
7             7   1736      4      2
8             8   1758      0      4
9             9   1758     13      3
10           10   1758     15      7
11           11   1758      4     20
12           12   1758      8     26
13           13   1763     15      1
14           14   1763     17      6
15           15   1765     13      3
16           16   1765     15     14
17           17   1765      4      2
18           18   1856     13      1
19           19   1856     15      1
20           20   1856      4     81
21           21   1883      4      6
22           22   1899     13      5
23           23   1899      8     15
24           24   1906      8      2
25           25   1959      0      1
26           26   1959     13      4
27           27   1959     15     17
28           28   1959      2      9
29           29   1959      4      8
..          ...    ...    ...    ...
130         130   7549      8     93
131         131   7549      9     90
132         132   7704      0      1
133         133   7704     15      8
134         134   7704     17      1
135         135   7704      4      2
136         136   7714     13      1
137         137   7714     15      3
138         138   7714      8     10
139         139   8118     13      1
140         140   8118     15      7
141         141   8119     13      1
142         142   8119      8      4
143         143   8120      0     34
144         144   8120     13      7
145         145   8120     15     13
146         146   8120      4     33
147         147   8120      8     27
148         148   8120      9     57
149         149   8192     13      1
150         150   8192      4      3
151         151   8192      8      6
152         152   8194      0     13
153         153   8194     13     41
154         154   8194     15     13
155         155   8194     17      1
156         156   8194      4      4
157         157   8194      5      3
158         158   8194      8     59
159         159   8194      9      3

[160 rows x 4 columns]

time: 16 ms

In [9]:
user_0_state = pd.merge(user_0_data, user_0_state_set,  how='left', left_on=['loc','cat_id'], right_on = ['loc_id','cat_id'])
user_0_state = user_0_state.drop(columns= ["loc_id"])
user_0_state

,uid,datetime,loc,app_id,traffic,day,cat_id,state_code,count
0,0,2016-04-21 08:42:21,8194,342,0.030,04-21,0,152.000,13.000
1,0,2016-04-21 08:44:12,8194,1,0.008,04-21,4,156.000,4.000
2,0,2016-04-21 08:44:47,8194,857,0.027,04-21,8,158.000,59.000
3,0,2016-04-21 08:44:48,8194,857,0.002,04-21,8,158.000,59.000
4,0,2016-04-21 08:44:49,8194,612,0.001,04-21,8,158.000,59.000
5,0,2016-04-21 08:44:49,8194,4,0.002,04-21,13,153.000,41.000
6,0,2016-04-21 08:44:49,8194,31,0.009,04-21,8,158.000,59.000
7,0,2016-04-21 08:44:49,8194,529,0.002,04-21,8,158.000,59.000
8,0,2016-04-21 08:44:49,8194,857,0.579,04-21,8,158.000,59.000
9,0,2016-04-21 08:44:50,8194,31,0.307,04-21,8,158.000,59.000
10,0,2016-04-21 08:44:50,8194,857,0.001,04-21,8,158.000,59.000
11,0,2016-04-21 08:44:51,8194,857,0.002,04-21,8,158.000,59.000
12,0,2016-04-21 08:44:52,8194,857,0.020,04-21,8,158.000,59.000
13,0,2016-04-21 08:44:55,8194,857,0.010,04-21,8,158.000,59.000
14,0,2016-04-21 08:44:56,8194,857,0.006,04-21,8,158.000,59.000
15,0,2016-04-21 08:44:59,8194,31,0.001,04-21,8,158.000,59.000
16,0,2016-04-21 08:45:02,8194,31,0.002,04-21,8,158.000,59.000
17,0,2016-04-21 08:45:04,8194,360,0.002,04-21,8,158.000,59.000
18,0,2016-04-21 08:48:22,8192,31,0.005,04-21,8,151.000,6.000
19,0,2016-04-21 08:48:23,8192,612,0.002,04-21,8,151.000,6.000
20,0,2016-04-21 08:48:23,8192,31,0.012,04-21,8,151.000,6.000
21,0,2016-04-21 08:48:23,8192,529,0.002,04-21,8,151.000,6.000
22,0,2016-04-21 08:48:23,8192,4,0.002,04-21,13,149.000,1.000
23,0,2016-04-21 08:48:24,8192,360,0.001,04-21,8,151.000,6.000
24,0,2016-04-21 08:48:24,8192,31,0.004,04-21,8,151.000,6.000
25,0,2016-04-21 08:52:13,8192,1,0.002,04-21,4,150.000,3.000
26,0,2016-04-21 08:56:19,8119,529,0.002,04-21,8,142.000,4.000
27,0,2016-04-21 08:56:19,8119,4,0.002,04-21,13,141.000,1.000
28,0,2016-04-21 08:56:19,8119,612,0.002,04-21,8,142.000,4.000
29,0,2016-04-21 08:56:19,7714,31,0.008,04-21,8,138.000,10.000
...,...,...,...,...,...,...,...,...,...
3881,0,2016-04-26 15:28:02,8118,37,0.013,04-26,8,nan,nan
3882,0,2016-04-26 15:28:03,8118,259,0.001,04-26,8,nan,nan
3883,0,2016-04-26 15:28:03,8118,31,0.005,04-26,8,nan,nan
3884,0,2016-04-26 15:28:03,8118,199,0.002,04-26,0,nan,nan
3885,0,2016-04-26 15:28:03,8118,37,0.003,04-26,8,nan,nan
3886,0,2016-04-26 15:28:04,8118,31,0.001,04-26,8,nan,nan
3887,0,2016-04-26 15:28:04,8118,37,0.002,04-26,8,nan,nan
3888,0,2016-04-26 15:28:05,8118,37,0.003,04-26,8,nan,nan
3889,0,2016-04-26 15:28:07,8118,37,0.003,04-26,8,nan,nan
3890,0,2016-04-26 15:28:08,8118,37,0.005,04-26,8,nan,nan
3891,0,2016-04-26 15:28:09,8118,37,0.002,04-26,8,nan,nan
3892,0,2016-04-26 15:28:12,8118,37,0.002,04-26,8,nan,nan
3893,0,2016-04-26 15:28:18,8118,281,0.002,04-26,0,nan,nan
3894,0,2016-04-26 15:28:19,8118,184,0.003,04-26,8,nan,nan
3895,0,2016-04-26 15:28:19,8118,37,0.002,04-26,8,nan,nan
3896,0,2016-04-26 15:28:29,8118,259,0.005,04-26,8,nan,nan
3897,0,2016-04-26 15:28:38,8118,4,0.003,04-26,13,139.000,1.000
3898,0,2016-04-26 15:28:48,8118,361,0.001,04-26,15,140.000,7.000
3899,0,2016-04-26 15:29:09,8118,37,0.001,04-26,8,nan,nan
3900,0,2016-04-26 15:29:42,8118,37,0.001,04-26,8,nan,nan
3901,0,2016-04-26 15:29:48,8118,361,0.012,04-26,15,140.000,7.000
3902,0,2016-04-26 15:29:49,8118,361,0.003,04-26,15,140.000,7.000
3903,0,2016-04-26 15:29:59,8118,37,0.001,04-26,8,nan,nan
3904,0,2016-04-26 15:30:28,8194,37,0.001,04-26,8,158.000,59.000
3905,0,2016-04-26 15:30:49,8194,37,0.006,04-26,8,158.000,59.000
3906,0,2016-04-26 15:33:08,8194,361,0.011,04-26,15,154.000,13.000
3907,0,2016-04-26 15:33:09,8194,361,0.001,04-26,15,154.000,13.000
3908,0,2016-04-26 15:33:10,8194,361,0.010,04-26,15,154.000,13.000
3909,0,2016-04-26 15:33:11,8194,361,0.003,04-26,15,154.000,13.000
3910,0,2016-04-26 15:34:17,8194,1549,0.001,04-26,0,152.000,13.000

time: 31 ms

In [10]:
user_0_train_stat = user_0_state[~(user_0_state['day'] == '04-26')]
user_0_test_stat = user_0_state[user_0_state['day'] == '04-26']
print(user_0_train_stat.shape, user_0_test_stat.shape)

(3248, 9) (663, 9)
time: 0 ns

In [58]:
state_train = list(np.int_(user_0_train_stat['state_code']))

time: 0 ns

In [60]:
def transition_matrix(transitions):
    #number of states
    n = max(transitions)
    M = [[0]*n for _ in range(n)]

    for (i,j) in zip(transitions,transitions[1:]):
        M[i-1][j-1] += 1

    #now convert to probabilities:
    for row in M:
        s = sum(row)
        if s > 0:
            row[:] = [f/s for f in row]
    return M

time: 0 ns

In [66]:
transition_matrix(state_train)

IndexError: list index out of range

In [16]:
actaul_state_code = np.array(user_0_state["state_code"])
predit_state_code = [np.argmax(user_0_transmat[i]) for i in actaul_state_code]

time: 0 ns

In [17]:
actaul_state_code = actaul_state_code[1:]
predit_state_code = predit_state_code[:-1]

time: 0 ns

In [18]:
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(actaul_state_code, predit_state_code)

0.24229585697328745

time: 563 ms

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(actaul_state_code, predit_state_code)

0.4048593350383632

time: 16 ms

In [20]:
from sklearn.metrics import f1_score
f1_score(actaul_state_code, predit_state_code, average='macro')

0.2049360834705059

time: 15 ms

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(actaul_state_code, predit_state_code)

array([[ 2,  0,  0, ...,  0,  0,  0],
       [ 2,  8,  0, ...,  0,  0,  0],
       [ 0,  0,  1, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ..., 10,  2,  0],
       [ 0,  0,  0, ...,  0, 29,  0],
       [ 0,  0,  0, ...,  0,  0,  0]], dtype=int64)

time: 0 ns

# Transitional matrix for N random user

In [138]:
##Random sample

import random
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

def transition_matrix(transitions):
    #number of states
    n = 1+max(transitions)
    M = [[0]*n for _ in range(n)]

    for (i,j) in zip(transitions,transitions[1:]):
        M[i][j] += 1

    #now convert to probabilities:
    for row in M:
        s = sum(row)
        if s > 0:
            row[:] = [f/s for f in row]
    return M

def random_sample(n_users,n_times):
    all_b_acc = []
    all_acc = []
    all_f1 = []
    user_list = pd.unique(cleaned_df_cat['uid'])
    for i in range(n_times):
        random_50_user = random.choices(user_list, k = int(n_users))
        rand_50_user_df = cleaned_df_cat[cleaned_df_cat["uid"].isin(random_50_user)]
        state_50_rand_user = rand_50_user_df.groupby(["loc", "cat_id"]).size().reset_index().reset_index()
        state_50_rand_user.columns = ['state_code','loc_id','cat_id','count']
        users_state = pd.merge(rand_50_user_df, state_50_rand_user,  how='left', left_on=['loc','cat_id'], right_on = ['loc_id','cat_id'])
        users_state = users_state.drop(columns= ["loc_id"])
        users_state = users_state.sort_values(by = ['uid', 'datetime'])
        series = np.array(users_state["state_code"])
        trans_mat_all = transition_matrix(series)
        trans_mat_all = np.matrix(trans_mat_all)
        actaul_state_code = np.array(users_state["state_code"])
        predit_state_code = [np.argmax(trans_mat_all[i]) for i in actaul_state_code]
        actaul_state_code = actaul_state_code[1:]
        predit_state_code = predit_state_code[:-1]
        b_acc = balanced_accuracy_score(actaul_state_code, predit_state_code)
        acc = accuracy_score(actaul_state_code, predit_state_code)
        f1 = f1_score(actaul_state_code, predit_state_code, average='macro')
        all_b_acc.append(b_acc)
        all_acc.append(acc)
        all_f1.append(f1)
    print("Mean balanced Acc: {:.2f}, Mean Acc: {:.2f}, Mean f1-score: {:.2f} on random {} users for {} times".format(np.mean(all_b_acc),np.mean(all_acc), np.mean(all_f1), n_users, n_times))
    return

time: 0 ns

In [137]:
random_sample(50, 50)

Mean balanced Acc: 0.49, Mean Acc: 0.78, Mean f1-score: 0.47 on random 50 users for 50 times
time: 5min 21s

### Compute the entire transitonal matrix for all user will lead to out of memory problem, random sampling could be a solution